<%- include("partials/header.ejs") -%>

<h1>Dashboard</h1>

<h3><%= package.name %> </h3>
<h3>workout image</h3>
<h3>link to workout</h3>

<div class="row">
        
<% package.workouts.forEach(function(workout){ %>
    <div class="col-lg">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%= workout.image %>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%= workout.name %></h5>
                <p class="card-text"><%= workout.description %></p>
                <p class="card-text">Duration: <%= workout.duration %> minutes</p>
                <a href="/<%=package.url%>/<%=workout.nameShort%>" class="btn btn-primary">Start Workout <%=workout.nameShort%></a>
            </div>
        </div>
    </div>
<% }) %>




        
</div>







<br>
<br>
<br>
<br>

<a href="/macrocalc" class="btn btn-secondary">Macros Calculator</a>
<a href="/selectPackage" class="btn btn-secondary">Change Workout Program</a>


<%- include("partials/footer.ejs") -%>