<%- include("partials/headerFooter/header.ejs") -%>

<h1><%= package.name %> </h1>

<%- include("partials/dashboard/askAboutMacro.ejs") -%>


<%const nextWorkout = package.workouts[nextDayArray[1]]%>
<%#HANDLE IF NEXT WORKOUT EXISTS%>

<%if (nextWorkout != undefined || nextWorkout != null){%>
    <h3>Next Workout</h3>

    <div class="row overflow-test">
    <div class="col-lg">
            <div class="card" style="width: 18rem;" onclick="location.href='/workout/<%=package.url%>/<%=nextWorkout.nameShort%>'">
                <img class="card-img-top" src="<%= nextWorkout.image %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= nextWorkout.name %></h5>
                    <p class="card-text"><%= nextWorkout.description %></p>
                    <p class="card-text">Duration: <%= nextWorkout.duration %> minutes</p>
                    <p class="card-text relative-date" data-date="<%=nextDayLastDate%>"></p>
                    <!--<a href="/workout/<%=package.url%>/<%=nextWorkout.nameShort%>" class="btn btn-primary btn-full-width">Start Workout <%=nextWorkout.nameShort%></a>-->
                </div>
            </div>
        </div>
    </div>
<%}%>

<h3>All Workouts</h3>

</div>
<div class="container1">
<div style="margin-left: 10px;"></div>
        
<% package.workouts.forEach(function(workout){ %>
    <div class="col-md">
        <div class="card" style="width: 18rem;" onclick="location.href='/workout/<%=package.url%>/<%=workout.nameShort%>'">
            <img class="card-img-top" src="<%= workout.image %>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%= workout.name %></h5>
                <p class="card-text"><%= workout.description %></p>
                <p class="card-text">Duration: <%= workout.duration %> minutes</p>
                <!--<a href="/workout/<%=package.url%>/<%=workout.nameShort%>" class="btn btn-primary">Start Workout <%=workout.nameShort%></a>-->
            </div>
        </div>
    </div>
<% }) %>
        
</div>
<div class="container-fluid">

<br>

<br>

<%- include("partials/headerFooter/footer.ejs") -%>