<%- include("partials/headerFooter/header.ejs") -%>

<%const phase = user.phases[functions.packagesToPhasesIndex(package.url)]%>

<div id="phaseInfo" data-package-url="<%=package.url%>"></div>

<%if (package.url === "warrior_shredded"){%>
    <h1 class="text-white" style="margin-bottom:0px;"><%= package.name %> </h1>

    <select class="mdb-select inline-block phases-select">
    <option value="1" <%if(phase === 1){%>
        selected
        <%}%>>Phase 1</option>
    <option value="2" <%if(phase === 2){%>
        selected
        <%}%>>Phase 2</option>
    <option value="3" <%if(phase === 3){%>
        selected
        <%}%>>Phase 3</option>
    </select><img style="padding-bottom: 5px; display: inline; margin-left: -15px;" src="/icons/downSelect.svg">

<%} else {%>
    <h1 class="text-white"><%= package.name %> </h1>
<%}%>

<%- include("partials/dashboard/askAboutMacro.ejs") -%>

<%let numberOfWorkouts1 = numberOfWorkouts%>
<%if (numberOfWorkouts1 === undefined || numberOfWorkouts1 === null) {%>
    <% numberOfWorkouts1 = -1 %>
<%}%>
<%let nextIndex = nextDayArray[1]%>
<%if (phase === 2) {%>
    <%nextIndex = nextIndex + numberOfWorkouts1 + 1%>
<%}%>
<%const nextWorkout = package.workouts[nextIndex]%>
<%#HANDLE IF NEXT WORKOUT EXISTS%>
<%if (nextWorkout != undefined || nextWorkout != null){%>
    <h3 class="text-white">Next Workout</h3>

    <div class="row">
        <div class="col-lg">
            <div class="card" style="width: 18rem;" onclick="location.href='/workout/<%=package.url%>/<%=nextWorkout.nameShort%>/<%=phase%>'">
                <img class="card-img-top" src="/images/cardImages/<%=package.url%>/<%=nextWorkout.nameShort%>/<%=phase%>.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= nextWorkout.name %></h5>
                    <p class="card-text"><%= nextWorkout.description %></p>
                    <p class="card-text">Duration: <%= nextWorkout.duration %> minutes</p>
                </div>
            </div>
        </div>
    </div>
<%}%>

</div>
<h3 style="margin-left: 30px;">All Workouts</h3>
    <div class="horizontal-scroll" style="margin: -10px:">
        <div style="margin-left: 10px;"></div>
        <% package.workouts.forEach(function(workout, index){ %>
            <%if (workout.phase === phase){%>
                <div class="col-md">
                    <div class="card" style="width: 18rem;" onclick="location.href='/workout/<%=package.url%>/<%=workout.nameShort%>/<%=workout.phase%>'">
                        <img class="card-img-top" src="/images/cardImages/<%=package.url%>/<%=workout.nameShort%>/<%=phase%>.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><%= workout.name %></h5>
                            <p class="card-text"><%= workout.description %></p>
                            <p class="card-text">Duration: <%= workout.duration %> minutes</p>
                        </div>
                    </div>
                </div>
            <%}%>
        <% }) %>
    </div>
<div class="container-fluid">
<br>
<br>

<div id="userInfo" data-email="<%=user.email%>" data-fname="<%=user.fname%>" data-lname="<%=user.lname%>"></div>

<%- include("partials/headerFooter/largeScreenOverlay.ejs") -%>

<%- include("partials/headerFooter/footerScripts.ejs") -%>
<script>
    $(document).ready(function(){

        if($('#askAboutMacro').data('ask-about-macro')===false){
            $('#askAboutMacro').modal('show').promise().done(function(){
                $.post(`<%=ajaxUrl%>/dashboard/`,function(err,data){if(err){console.log(err)}else{console.log("data: "+data)}})
            })
        }

        // popovers Initialization
        $(function () {
        $('[data-toggle="popover"]').popover()
        })
        //crisp stuff
        const email = $("#userInfo").data("email")
        const fname = $("#userInfo").data("fname")
        const lname = $("#userInfo").data("lname")
        const fullName = fname + " " + lname

        $crisp.push(["set", "user:email", email]);
        $crisp.push(["set", "user:nickname", [fullName]])

        const identify = new amplitude.Identify()
        identify.set('name', {'first': fname, 'last': lname})
        identify.set('email', email)
        amplitude.identify(identify)

        $("body").click(function(event) {
            //if you click on anything except the modal itself or the "open modal" link, close the modal
            if (!$(event.target).is(".p-phases")){
                $(".modal").removeClass("show").css("display", "none")
                $("body").removeClass("modal-open")
            }
        });

        $(".p-phases").click(function(event){
            const phase = $(this).data("phase")
            const package = $('#phaseInfo').data('package-url')
            $.post( `/changePhase/${package}/${phase}`)
                .done(function( data ) {
                location.reload();
            });
        })

        $(".mdb-select").change(function(event){
            const phase = $(this).val()
            const package = $('#phaseInfo').data('package-url')
            $.post( `/changePhase/${package}/${phase}`)
                .done(function( data ) {
                location.reload();
            });
        })

    })
</script>
<%- include("partials/headerFooter/footerSimple.ejs") -%>