<%- include("partials/headerFooter/header.ejs") -%>

<h1><%= package.name %> </h1>

<%#MACRO CALC CHECK%>

<div class="modal fade" id="askAboutMacro" tabindex="-1" role="dialog" data-ask-about-macro="<%=askedAboutMacro%>" aria-labelledby="exampleModalLabel"
    aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Getting Started - Macro Calculator</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body past-exercises">
            Would you like to calculate your macros and calories now?
        </div>
        <div class="modal-footer justify-content-between">
            <a href="#" class="ask-about-macro-button" data-dismiss="modal">I'll do that later</a>
            <a type="button" href="/macroCalc" class="btn btn-primary ask-about-macro-button">Let's do it!</a>
        </div>
        </div>
    </div>
    </div>

<%const nextWorkout = package.workouts[nextDayArray[1]]%>
<%#HANDLE IF NEXT WORKOUT EXISTS%>

<%if (nextWorkout != undefined || nextWorkout != null){%>
    <h3>Next Workout</h3>

    <div class="row">
    <div class="col-lg">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%= nextWorkout.image %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= nextWorkout.name %></h5>
                    <p class="card-text"><%= nextWorkout.description %></p>
                    <p class="card-text">Duration: <%= nextWorkout.duration %> minutes</p>
                    <p class="card-text relative-date" data-date="<%=nextDayLastDate%>"></p>
                    <a href="/workout/<%=package.url%>/<%=nextWorkout.nameShort%>" class="btn btn-primary">Start Workout <%=nextWorkout.nameShort%></a>
                </div>
            </div>
        </div>
    </div>
<%}%>

<h3>All Workouts</h3>

<div class="row">
        
<% package.workouts.forEach(function(workout){ %>
    <div class="col-lg">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="<%= workout.image %>" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><%= workout.name %></h5>
                <p class="card-text"><%= workout.description %></p>
                <p class="card-text">Duration: <%= workout.duration %> minutes</p>
                <a href="/workout/<%=package.url%>/<%=workout.nameShort%>" class="btn btn-primary">Start Workout <%=workout.nameShort%></a>
            </div>
        </div>
    </div>
<% }) %>
        
</div>

<br>

<br>

<%- include("partials/headerFooter/footer.ejs") -%>