<%- include("partials/headerFooter/header.ejs") -%>

<%const phase = user.phases[functions.packagesToPhasesIndex(package.url)]%>

<h1 class="text-white"><%= package.name %> </h1>
<div>

<p class="inline-block text-white" id="special" style="margin-top: -20px;"><a class="text-white" id="phaseSelect" href="#" data-toggle="modal" data-backdrop="false" data-target="#phaseModal" onclick="amplitude.getInstance().logEvent('Phase Selector Clicked')">Phase <%=phase%>  <img style="padding-bottom: 5px;" src="/icons/downSelect.svg"></a></p>
<div class="spacer-div"></div>
    <div class="modal special-modal phases-modal" id="phaseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable phases-modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-body phases-modal-body">
        <a><p class="waves-effect p-phases">Phase 1</p></a>
        <a><p class="waves-effect p-phases">Phase 2</p></a>
        <a><p class="waves-effect p-phases" style="margin-bottom: 0px;">Phase 3</p></a>
    </div>
    </div>
</div>
</div>
</div>




<%let nextIndex = nextDayArray[1]%>
<%if (phase === 2) {%>
    <%nextIndex = nextIndex + numberOfWorkouts + 1%>
<%}%>

<%const nextWorkout = package.workouts[nextIndex]%>
<%#HANDLE IF NEXT WORKOUT EXISTS%>
<%if (nextWorkout != undefined || nextWorkout != null){%>
    <h3 class="text-white">Next Workout</h3>

    <div class="row">
        <div class="col-lg">
            <div class="card" style="width: 18rem;" onclick="location.href='/workout/<%=package.url%>/<%=nextWorkout.nameShort%>/<%=nextWorkout.phase%>'">
                <img class="card-img-top" src="/images/cardImages/<%=package.url%>/<%=nextWorkout.nameShort%>.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= nextWorkout.name %></h5>
                    <p class="card-text"><%= nextWorkout.description %></p>
                    <p class="card-text">Duration: <%= nextWorkout.duration %> minutes</p>
                </div>
            </div>
        </div>
    </div>
<%}%>

</div>
<h3 style="margin-left: 30px;">All Workouts</h3>
    <div class="horizontal-scroll" style="margin: -10px:">
        <div style="margin-left: 10px;"></div>
        <% package.workouts.forEach(function(workout, index){ %>
            <%if (workout.phase === phase){%>
                <div class="col-md">
                    <div class="card" style="width: 18rem;" onclick="location.href='/workout/<%=package.url%>/<%=workout.nameShort%>/<%=workout.phase%>'">
                        <img class="card-img-top" src="/images/cardImages/<%=package.url%>/<%=workout.nameShort%>.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><%= workout.name %></h5>
                            <p class="card-text"><%= workout.description %></p>
                            <p class="card-text">Duration: <%= workout.duration %> minutes</p>
                        </div>
                    </div>
                </div>
            <%}%>
        <% }) %>
    </div>
<div class="container-fluid">
<br>
<br>

<div id="userInfo" data-email="<%=user.email%>" data-fname="<%=user.fname%>" data-lname="<%=user.lname%>"></div>

<%- include("partials/headerFooter/largeScreenOverlay.ejs") -%>

<%- include("partials/headerFooter/footerScripts.ejs") -%>
<script>
    $(document).ready(function(){

        // popovers Initialization
        $(function () {
        $('[data-toggle="popover"]').popover()
        })
        const email = $("#userInfo").data("email")
        const fname = $("#userInfo").data("fname")
        const lname = $("#userInfo").data("lname")
        const fullName = fname + " " + lname

        $crisp.push(["set", "user:email", email]);
        $crisp.push(["set", "user:nickname", [fullName]])

        const identify = new amplitude.Identify()
        identify.set('name', {'first': fname, 'last': lname})
        identify.set('email', email)
        amplitude.identify(identify)

        $("body").not($("h1")).click(function(event) {
            //if you click on anything except the modal itself or the "open modal" link, close the modal
            if (!$(event.target).is(".p-phases")){
                $(".modal").removeClass("show").css("display", "none")
                $("body").removeClass("modal-open")
            }
        });

    })
</script>
<%- include("partials/headerFooter/footerSimple.ejs") -%>