<%- include("partials/headerFooter/header.ejs") -%>

<h1 class="text-white"><%= package.name %> </h1>

<%- include("partials/dashboard/askAboutMacro.ejs") -%>

<%const nextWorkout = package.workouts[nextDayArray[1]]%>
<%#HANDLE IF NEXT WORKOUT EXISTS%>
<%if (nextWorkout != undefined || nextWorkout != null){%>
    <h3 class="text-white">Next Workout</h3>

    <div class="row">
        <div class="col-lg">
            <div class="card" style="width: 18rem;" onclick="location.href='/workout/<%=package.url%>/<%=nextWorkout.nameShort%>'">
                <img class="card-img-top" src="<%=nextWorkout.image%>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= nextWorkout.name %></h5>
                    <p class="card-text"><%= nextWorkout.description %></p>
                    <p class="card-text">Duration: <%= nextWorkout.duration %> minutes</p>
                    <p class="card-text relative-date" data-date="<%=nextDayLastDate%>"></p>
                </div>
            </div>
        </div>
    </div>
<%}%>

</div>
<h3 style="margin-left: 30px;">All Workouts</h3>
    <div class="horizontal-scroll" style="margin: -10px:">
        <div style="margin-left: 10px;"></div>
        <% package.workouts.forEach(function(workout){ %>
            <div class="col-md">
                <div class="card" style="width: 18rem;" onclick="location.href='/workout/<%=package.url%>/<%=workout.nameShort%>'">
                    <img class="card-img-top" src="<%= workout.image %>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= workout.name %></h5>
                        <p class="card-text"><%= workout.description %></p>
                        <p class="card-text">Duration: <%= workout.duration %> minutes</p>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
<div class="container-fluid">
<br>
<br>

<div id="userInfo" data-email="<%=user.email%>" data-fname="<%=user.fname%>" data-lname="<%=user.lname%>"></div>

<%- include("partials/headerFooter/largeScreenOverlay.ejs") -%>

<%- include("partials/headerFooter/footerScripts.ejs") -%>
<script>
    $(document).ready(function(){
        const email = $("#userInfo").data("email")
        console.log("email: " + email)
        const fname = $("#userInfo").data("fname")
        const lname = $("#userInfo").data("lname")
        const fullName = fname + " " + lname

        $crisp.push(["set", "user:email", email]);
        $crisp.push(["set", "user:nickname", [fullName]])

        const identify = new amplitude.Identify()
        identify.set('name', {'first': fname, 'last': lname})
        identify.set('email', email)
        amplitude.identify(identify)

    })
</script>
<%- include("partials/headerFooter/footerSimple.ejs") -%>