<%- include("partials/headerFooter/header.ejs") -%>

<h1 class="white-text">Macro Calculator</h1>

<div class="card">
  <div class="card-body">
    <h3 class="macro-header">Enter Weight</h3>
    <form action="/macrocalc" method="POST">
        <input type="number" inputmode="numeric" pattern="[0-9]*" class="main-input inline-block"  name="weight" max="9999" required placeholder="Ex: 187"> lbs
      <button class="my-btn btn-m my-btn-secondary waves-effect waves-orange inline-block" style="float:right; margin-top: 4px;">Calculate</button>
    </form>
    <% if (weight != null) {%>
    <p style="margin-top:10px; margin-bottom: 0;">Current weight: <%= weight%></p>
    <%}%>
  </div>
</div>

<% const stableCals = weight * 15 %> 
<% const deficitCals = weight * 12 %> 
<% const dailyProtein = (deficitCals * .27)/4  %> 
<% const dailyCarbs = (deficitCals * .4)/4 %> 
<% const dailyFats = (deficitCals * .33)/9 %> 
<% const perMealProtein = dailyProtein/3 %> 
<% const perMealCarbs = dailyCarbs/3 %> 
<% const perMealFats = dailyFats/3 %> 


<% if (weight != null) { %>

  <%if (dismissCalTracks === undefined || dismissCalTracks === false){%>
      <div class="card" id="calTracks">
        <div class="card-body">
          <h4 class="report-tile-title">Recommended Calorie Trackers </h4>
          <ul>
            <li>
                <a target="_blank" href="https://www.mynetdiary.com/">MyNetDiary  <img class="external-link" src="/icons/ExternalLink.svg"></a>
            </li>
            <div class="spacer-div"></div>
            <li>
                <a target="_blank" href="https://www.myfitnesspal.com/">MyFitnessPal  <img class="external-link" src="/icons/ExternalLink.svg"></a>
            </li>
          </ul>
          <div id="dismissCalTracks" style="text-align: center; color: #959595; font-style: italic;">
            Dismiss
          </div>
        </div>
      </div>
  <%}%>

</div>

  <div class="horizontal-scroll minus-twenty-top">
    <div style="margin-left: 10px;"></div>

    <!-- Card -->
    <div class="col-md">
      <div class="card chart-card">
        <div class="card-body">
          <h4 class="report-tile-title">Deficit Calories</h4>
            <p class="chart-nmbr-lg"><%=deficitCals.toLocaleString('en')%></p>
          <p class="chart-subtext no-margin-bottom">Based on <%=stableCals.toLocaleString('en')%> stable calories</p>
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md">
      <div class="card chart-card">
        <div class="card-body">
          <h4 class="report-tile-title">Daily Macros</h4>
              <div>
                  <p class="chart-text">Protein:</p>
                  <p class="chart-text chart-text-right"><%= dailyProtein.toFixed(0)%> g</p>
              </div>
              <div>
                  <p class="chart-text">Carbs</p>
                  <p class="chart-text chart-text-right"><%= dailyCarbs.toFixed(0)%> g</p>
              </div>
              <div>
                  <p class="chart-text">Fats</p>
                  <p class="chart-text chart-text-right"><%= dailyFats.toFixed(0)%> g</p>
              </div>
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md">
      <div class="card chart-card">
        <div class="card-body">
          <h4 class="report-tile-title">Per Meal Macros</h4>
              <div>
                  <p class="chart-text">Protein:</p>
                  <p class="chart-text chart-text-right"><%= perMealProtein.toFixed(0)%> g</p>
              </div>
              <div>
                  <p class="chart-text">Carbs</p>
                  <p class="chart-text chart-text-right"><%= perMealCarbs.toFixed(0)%> g</p>
              </div>
              <div>
                  <p class="chart-text">Fats</p>
                  <p class="chart-text chart-text-right"><%= perMealFats.toFixed(0)%> g</p>
              </div>
        </div>
      </div>
    </div>

  </div>

<%}%> 

<div class="container-fluid">

<a href="/dashboard">Return to Dashboard</a>

<%- include("partials/headerFooter/largeScreenOverlay.ejs") -%>

<%- include("partials/headerFooter/footer.ejs") -%>