<%- include("partials/header.ejs") -%>

<h1>Macro Calc</h1>

<form action="/macrocalc" method="POST">
    <input type="number" placeholder="enter your weight" name="weight">
    <button class="btn btn-primary">Calculate Macros</button>
</form>

<% const stableCals = weight * 15 %> 
<% const deficitCals = weight * 12 %> 
<% const dailyProtein = (deficitCals * .27)/4  %> 
<% const dailyCarbs = (deficitCals * .4)/4 %> 
<% const dailyFats = (deficitCals * .33)/9 %> 
<% const perMealProtein = dailyProtein/3 %> 
<% const perMealCarbs = dailyCarbs/3 %> 
<% const perMealFats = dailyFats/3 %> 

<% if (weight != null) { %>
    <p><strong>Current Weight:</strong> <%= weight%></p>
    <p><strong>Stable Calories:</strong> <%=stableCals.toFixed(0)%></p>
    <p><strong>Deficit Calories:</strong> <%=deficitCals.toFixed(0)%></p>
    <p><strong>Target Calorie Ratios: </strong> Carbs: 40%, Protein: 27%, Fat: 33%</p>
    <p><strong>Daily Protein: </strong><%= dailyProtein.toFixed(0)%> grams</p>
    <p><strong>Per Meal Protein: </strong><%= perMealProtein.toFixed(0)%> grams</p>
    <p><strong>Daily Carbs: </strong><%= dailyCarbs.toFixed(0) %> grams</p>
    <p><strong>Per Meal Carbs: </strong><%= perMealCarbs.toFixed(0)%> grams</p>
    <p><strong>Daily Fats: </strong><%= dailyFats.toFixed(0) %> grams</p>
    <p><strong>Per Meal Fats: </strong><%= perMealFats.toFixed(0) %> grams</p>
<% } %> 


<%- include("partials/footer.ejs") -%>