<%- include("partials/headerFooter/header.ejs") -%>

<h1 class="white-text">Macro Calculator</h1>

<%let displayWeight%>
<%if (user.weightUnit === "kgs"){%>
  <% displayWeight = functions.toKgs(weight) %>
<%} else {%>
  <% displayWeight = weight %>
<%}%> 

<div class="card">
  <div class="card-body">
    <h3 class="macro-header">Enter Bodyweight<%if(user.packageName === "Greek God"){%>s
      <%}%>
      </h3>
    <div>
      <form action="/macrocalc" method="POST" class="macro-grid">
          <span class="macro-c-1">Current bodyweight:  </span>
          <span class="macro-c-2">
            <input type="number" inputmode="numeric" pattern="[0-9]*" class="main-input inline-block"  name="weight" max="9999" required <%if (weight != null) {%>
              value="<%=displayWeight%>"
            <%} else {%>
              placeholder="ex: 187"
            <%}%>
          > <%=user.weightUnit%>
          </span>
          <% if (user.packageName === "Greek God"){ %>
            <span class="macro-c-1"> Goal bodyweight:  </span>
            <span class="macro-c-2">
              <input type="number" inputmode="numeric" pattern="[0-9]*" class="main-input inline-block"  name="goalWeight" max="9999" required <%if (goalWeight !== null) {%>
                value="<%=goalWeight%>"
              <%} else {%>
                placeholder="ex: 187"
            <%}%>
          > <%=user.weightUnit%>
            </span>
          <% } %> 
        <button class="my-btn btn-m my-btn-secondary waves-effect waves-orange inline-block macro-c-3" onclick="amplitude.getInstance().logEvent('Macros Calculated')">Calculate Macros</button>
      </form>
    </div>
    
  </div>
</div>

<% const stableCals = weight * 15 %> 
<% const deficitCals = weight * 12 %> 
<% const dailyProtein = (deficitCals * .27)/4  %> 
<% const dailyCarbs = (deficitCals * .4)/4 %> 
<% const dailyFats = (deficitCals * .33)/9 %> 
<% const perMealProtein = dailyProtein/3 %> 
<% const perMealCarbs = dailyCarbs/3 %> 
<% const perMealFats = dailyFats/3 %> 


<% if (weight != null) { %>

  

</div>

  <div class="horizontal-scroll minus-twenty-top">
    <div style="margin-left: 10px;"></div>

    <!-- Card -->
    <div class="col-md">
      <div class="card chart-card">
        <div class="card-body">
          <h4 class="report-tile-title">Deficit Calories</h4>
            <p class="chart-nmbr-lg"><%=deficitCals.toLocaleString('en')%></p>
          <p class="chart-subtext no-margin-bottom">Based on <%=stableCals.toLocaleString('en')%> stable calories</p>
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md">
      <div class="card chart-card">
        <div class="card-body">
          <h4 class="report-tile-title">Daily Macros</h4>
              <div>
                  <p class="chart-text">Protein:</p>
                  <p class="chart-text chart-text-right"><%= dailyProtein.toFixed(0)%> g</p>
              </div>
              <div>
                  <p class="chart-text">Carbs</p>
                  <p class="chart-text chart-text-right"><%= dailyCarbs.toFixed(0)%> g</p>
              </div>
              <div>
                  <p class="chart-text">Fats</p>
                  <p class="chart-text chart-text-right"><%= dailyFats.toFixed(0)%> g</p>
              </div>
        </div>
      </div>
    </div>

    <!-- Card -->
    <div class="col-md">
      <div class="card chart-card">
        <div class="card-body">
          <h4 class="report-tile-title">Per Meal Macros</h4>
              <div>
                  <p class="chart-text">Protein:</p>
                  <p class="chart-text chart-text-right"><%= perMealProtein.toFixed(0)%> g</p>
              </div>
              <div>
                  <p class="chart-text">Carbs</p>
                  <p class="chart-text chart-text-right"><%= perMealCarbs.toFixed(0)%> g</p>
              </div>
              <div>
                  <p class="chart-text">Fats</p>
                  <p class="chart-text chart-text-right"><%= perMealFats.toFixed(0)%> g</p>
              </div>
        </div>
      </div>
    </div>

  </div>

<div class="container-fluid" style="padding-top:0px; margin-top: -10px;">

<%if (dismissCalTracks === undefined || dismissCalTracks === false){%>
      <div class="card" id="calTracks">
        <div class="card-body">
          <h4 class="report-tile-title">Recommended Calorie Trackers </h4>
          <ul>
            <li>
                <a target="_blank" href="https://www.mynetdiary.com/">MyNetDiary  <img class="external-link" src="/icons/ExternalLink.svg"></a>
            </li>
            <div class="spacer-div"></div>
            <li>
                <a target="_blank" href="https://www.myfitnesspal.com/">MyFitnessPal  <img class="external-link" src="/icons/ExternalLink.svg"></a>
            </li>
          </ul>
          <div id="dismissCalTracks" style="text-align: center; color: #959595; font-style: italic;">
            Dismiss
          </div>
        </div>
      </div>
  <%}%>

<div class="spacer-div"></div>
<div class="spacer-div"></div>
<a href="/dashboard">Return to Dashboard</a>

<%} else {%> 
  <div class="container-fluid">
<%}%>

<%- include("partials/headerFooter/largeScreenOverlay.ejs") -%>

<%- include("partials/headerFooter/footerScripts.ejs") -%>
<script>
    $(document).ready(function(){

        <%- include("partials/headerFooter/standardScripts.ejs") -%>

        $("body").click(function(event) {
            //if you click on anything except the modal itself or the "open modal" link, close the modal
            if (!$(event.target).is(".p-phases")){
                $(".modal").removeClass("show").css("display", "none")
                $("body").removeClass("modal-open")
            }
        });

        $(".p-phases").click(function(event){
            const phase = $(this).data("phase")
            const package = $('#phaseInfo').data('package-url')
            $.post( `/changePhase/${package}/${phase}`)
                .done(function( data ) {
                location.reload();
            });
        })

        $(".mdb-select").change(function(event){
            const phase = $(this).val()
            const package = $('#phaseInfo').data('package-url')
            $.post( `/changePhase/${package}/${phase}`)
                .done(function( data ) {
                location.reload();
            });
        })

    })
</script>
<%- include("partials/headerFooter/footerSimple.ejs") -%>