<%- include("partials/header.ejs") -%>

<h1>Macro Calculator</h1>

<form action="/macrocalc" method="POST">
    <div class="md-form">
    <label for="numberExample">Enter Weight</label>
    <input type="number" class="form-control"  name="weight" max="9999" required>
    </div>
    <button class="btn btn-m btn-primary">Calculate Macros</button>
</form>

<% const stableCals = weight * 15 %> 
<% const deficitCals = weight * 12 %> 
<% const dailyProtein = (deficitCals * .27)/4  %> 
<% const dailyCarbs = (deficitCals * .4)/4 %> 
<% const dailyFats = (deficitCals * .33)/9 %> 
<% const perMealProtein = dailyProtein/3 %> 
<% const perMealCarbs = dailyCarbs/3 %> 
<% const perMealFats = dailyFats/3 %> 

<% if (weight != null) { %>

<h3 class="macro-header" style="margin-bottom: 20px; margin-top: 20px;">Weight: <%= weight%></h3>

<p>Recommended calorie trackers: <a href="https://www.mynetdiary.com/">MyNetDiary</a> and <a href="https://www.myfitnesspal.com/">MyFitnessPal</a></p>

<!-- Card -->
<div class="card chart-card" style="width: 235px;
height: 155px;">

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title font-weight-bold" style="font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    
    color: #515151;">Deficit Calories</h4>
    
      <p class="display-4 align-self-end" style="font-family: Roboto;
      font-style: normal;
      font-weight: bold;
      font-size: 36px;
      line-height: normal;
      text-align: center;
      margin-top: 20px;
        margin-bottom: 20px;
      
      color: #000000;
      "><%=deficitCals.toLocaleString('en')%></p>

      <!-- Text -->
    <p class="card-text mb-4" style="font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: normal;
    text-align: center;
    
    color: #515151;">Based on <%=stableCals.toLocaleString('en')%> stable calories</p>

  </div>

</div>
<!-- Card -->

<!-- Card -->
<div class="card chart-card" style="width: 236px;
height: 202px;">

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title font-weight-bold" style="font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    
    color: #515151;">Daily Macros</h4>

    <div style="width: 196px;
    height: 119px;
    left: 49px;
    top: 510px">

        <div>
            <p style="font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            display: inline-block;
            color: #000000;">Protein:</p>

            <p style="font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            text-align: right;
            float: right;
            color: #000000;"><%= dailyProtein.toFixed(0)%> g</p>
        </div>

        <div>
            <p style="font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            display: inline-block;
            
            color: #000000;">Carbs</p>

            <p style="font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            text-align: right;
            
            float: right;
            
            color: #000000;"><%= dailyCarbs.toFixed(0)%> g</p>
        </div>

        <div>
            <p style="font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            display: inline-block;
            
            color: #000000;">Fats</p>

            <p style="font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            text-align: right;
            
            float: right;
            
            color: #000000;"><%= dailyFats.toFixed(0)%> g</p>
        </div>
        
    </div>
    
     

  </div>

</div>



<!-- Card -->
<div class="card chart-card" style="width: 236px;
height: 202px;">

  <!-- Card content -->
  <div class="card-body">

    <!-- Title -->
    <h4 class="card-title font-weight-bold" style="font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    
    color: #515151;">Per Meal Macros</h4>

    <div style="width: 196px;
    height: 119px;
    left: 49px;
    top: 510px">

        <div>
            <p style="font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            display: inline-block;
            color: #000000;">Protein:</p>

            <p style="font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            text-align: right;
            float: right;
            color: #000000;"><%= perMealProtein.toFixed(0)%> g</p>
        </div>

        <div>
            <p style="font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            display: inline-block;
            
            color: #000000;">Carbs</p>

            <p style="font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            text-align: right;
            
            float: right;
            
            color: #000000;"><%= perMealCarbs.toFixed(0)%> g</p>
        </div>

        <div>
            <p style="font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            display: inline-block;
            
            color: #000000;">Fats</p>

            <p style="font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: normal;
            text-align: right;
            
            float: right;
            
            color: #000000;"><%= perMealFats.toFixed(0)%> g</p>
        </div>
        
    </div>
    
     

  </div>

</div>

<a href="/dashboard">Return to Dashboard</a>


<% } %> 


<%- include("partials/footer.ejs") -%>