<%- include("partials/header.ejs") -%>

<h1>Macro Calc</h1>

<form action="/macrocalc" method="POST">
    <input type="number" placeholder="enter your weight" name="weight">
    <button>Calculate Macros</button>
</form>

<% const stableCals = weight * 15 %> 
<% const deficitCals = weight * 12 %> 
<% const dailyProtein = deficitCals * .27 %> 
<% const dailyCarbs = deficitCals * .4 %> 
<% const dailyFats = deficitCals * .33 %> 
<% const perMealProtein = dailyProtein/3 %> 
<% const perMealCarbs = dailyCarbs/3 %> 
<% const perMealFats = dailyFats/3 %> 

<% if (weight != null) { %>
    <p>Current Weight: <%= weight%></p>
    <p>Stable Cals: <%=stableCals.toFixed(0)%></p>
    <p>Deficit Cals: <%=deficitCals.toFixed(0)%></p>
    <p>Daily Protein = <%= dailyProtein.toFixed(0) %></p>
    <p>Per Meal Protein = <%= perMealProtein.toFixed(0)%></p>
    <p>Daily Carbs = <%= dailyCarbs.toFixed(0) %></p>
    <p>Per Meal Carbs = <%= perMealCarbs.toFixed(0)%></p>
    <p>Daily Fats = <%= dailyFats.toFixed(0) %></p>
    <p>Per Meal Fats = <%= perMealFats.toFixed(0) %></p>
<% } %> 


<%- include("partials/footer.ejs") -%>