<%- include("partials/headerFooter/header.ejs") -%>


<% if (user.selectedPackage === null | user.selectedPackage === undefined){ %>
    <h3 class="white-text">Welcome <%=user.fname%>! Activate a package below to get started</h3>
<%} else {%>

<h1 class="white-text">Select Package</h1>

<%}%>

<div class="row">
<%packages.forEach(function(package){ %>
    <%if (package.name != "Aggressive Fat Loss"){%>
    <form action="/selectPackage" method="POST">
    <div class="col-lg">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= package.name %> </h5>
          <p class="card-text"><%=package.description%></p>
          <input type="hidden" name="packageName" value="<%=package.name%>">
          <button class="my-btn my-btn-secondary" type="submit" name="package_id" value="<%=package._id%>">Activate</button>
        </div>
      </div>
    </div>
    </form>
    <%}%>

<% }) %>
</div>

<div id="userInfo" data-email="<%=user.email%>" data-fname="<%=user.fname%>" data-lname="<%=user.lname%>"></div>

<%- include("partials/headerFooter/largeScreenOverlay.ejs") -%>

<%- include("partials/headerFooter/footerScripts.ejs") -%>
<script>
    $(document).ready(function(){
        const email = $("#userInfo").data("email")
        console.log("email: " + email)
        const fname = $("#userInfo").data("fname")
        const lname = $("#userInfo").data("lname")
        const fullName = fname + " " + lname

        $crisp.push(["set", "user:email", email]);
        $crisp.push(["set", "user:nickname", [fullName]]);
    })
</script>
<%- include("partials/headerFooter/footerSimple.ejs") -%>