<%- include("partials/headerFooter/header.ejs") -%>


<% if (user.selectedPackage === null | user.selectedPackage === undefined){ %>
    <h3 class="white-text">Welcome <%=user.fname%>! Activate a package below to get started</h3>
<%} else {%>

<h1 class="white-text">Select Package</h1>

<%}%>

<div class="row">
<%packages.forEach(function(package){ %>
    <%if (package.name != "Aggressive Fat Loss"){%>
    <form action="/selectPackage" method="POST">
    <div class="col-lg">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= package.name %> </h5>
          <p class="card-text"><%=package.description%></p>
          <button class="my-btn my-btn-secondary" type="submit" name="package_id" value="<%=package._id%>">Activate</button>
        </div>
      </div>
    </div>
    </form>
    <%}%>

<% }) %>
</div>

<%- include("partials/headerFooter/largeScreenOverlay.ejs") -%>

<%- include("partials/headerFooter/footer.ejs") -%>