<%- include("partials/headerFooter/header.ejs") -%>

<h1 class="white-text">Settings</h1>
<div class="spacer-div"></div>

<div class="card not-active">
  <div class="card-body">
    <h3 class="macro-header">Weights</h3>
    <div class="spacer-div"></div>
    <form action="/settings" method="POST" id="settingsForm">

        <%-include("partials/settings/weightUnit.ejs", {user: user, functions: functions})-%>

        <%let barWeight%>
        <%if (user.weightUnit === "kgs"){%>
          <% barWeight = functions.toKgs(user.barWeight) %>
        <%} else {%>
          <% barWeight = user.barWeight %>
        <%}%> 
        <%const barWeightlb = user.barWeight%>
        <div><div class="inline-block" style="width: 100px;">Bar Weight: </div><input style="margin-left: 20px;" type="number" inputmode="numeric" pattern="[0-9]*" class="main-input inline-block" id="barWeightInput" name="barWeight" max="9999" required value="<%=barWeight%>"><div class="inline-block" id="barWeightLabel"><%=user.weightUnit%></div></div>
      <div class="text-center"><button class="my-btn my-btn-secondary waves-effect waves-orange my-btn-medium" style="margin-top: 10px;" onclick="amplitude.getInstance().logEvent('Save Settings')">Save Settings</button></div>
      
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3 class="macro-header">Subscription</h3>
    <div class="spacer-div"></div>
    <%if (user.subscribed === false){%>
      <p>You currently have <span style="font-weight:bold;"><%=daysLeft%> day<%if (daysLeft > 1){%>s<%}%></span> left of your free trial.</p>
      <div class="spacer-div"></div>
      <div class="text-center">
        <a href="/subscribe" class="my-btn my-btn-secondary waves-effect waves-orange my-btn-medium">View Subscription Plans</a>
      </div>
    <%} else if (user.subscribed === true && user.canceled === true){%>
      <p>Your subscription has been <span style="font-weight:bold;">canceled</span> but you'll have access until <span style="font-weight: bold;"><%=endDate%></span>.</p>
      <div class="spacer-div"></div>
      <div class="text-center">
        <form method="POST" action="/resubscribe">
          <button href="/subscribe" class="my-btn my-btn-secondary waves-effect waves-orange my-btn-medium">Re-Subscribe at $<%=amount%>/<%=interval%></button>
        </form>
      </div>
    <%} else if (user.subscribed === true && (user.stripe_id === null || user.stripe_id === undefined)){%>
      <p>You're getting free access as an affiliate or early user.</p>
      <p>Thanks for your support!</span></p>
      <div class="spacer-div"></div>
      <div class="text-center">
        <a href="/subscribe" class="my-btn my-btn-secondary waves-effect waves-orange my-btn-medium">Subscribe Anyway</a>
      </div>
    <%} else if (user.subscribed === true){%>
      <p>You're currently subscribed at <span style="font-weight:bold;">$<%=amount%></span> per <span style="font-weight:bold;"><%=interval%></span></p>
      <p>Your next payment will be on <span style="font-weight:bold;"><%=endDate%></span></p>
      <div class="spacer-div"></div>
      <div class="text-center">
        <a href="#" class="btn-link" style="color: red; text-decoration:none;" data-toggle="modal" data-target="#cancelModal">Cancel Subscription</a>
      </div>
    <%}%>
    </div>
  </div>

<div class="card">
  <div class="card-body">
    <h3 class="macro-header">Account</h3>
    <div class="spacer-div"></div>
      <p>You are currently logged in as <span style="font-weight:bold;"><%=user.email%></span></p>
      <div class="spacer-div"></div>
      <div class="text-center">
        <a href="/logout" class="my-btn my-btn-secondary waves-effect waves-orange my-btn-medium">Logout</a>
      </div>
    </div>
  </div>


<div class="modal fade special-modal" style="z-index:20000;" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancel Subscription</h5>
                    <img src="/icons/Close.svg" class="close" data-dismiss="modal" aria-label="Close">
                    </img>
                </div>
                <div class="modal-body">
                        <p>It's a little selfish but could you summarize why you're cancelling in two words?</p>
                    <div style="text-align:center; margin-top:10px;">
                        <form method="POST" action="/cancel">
                        <input type="text" class="main-input inline-block verifyInput"  name="weight" required placeholder="Two word reason" style="width: 200px; margin-top:10px;">
                        <button type="submit" class="my-btn my-btn-secondary waves-effect waves-orange my-btn-medium" style="margin-top: 10px;">Finalize Cancellation</button>
                        </form>
                    </div>  
                </div>
                </div>
            </div>
        </div>


<div class="container-fluid">

<%- include("partials/headerFooter/largeScreenOverlay.ejs") -%>

<%- include("partials/headerFooter/footerScripts.ejs") -%>
<script>

  function toKgs(number){
  return round((number / 2.2046226218),1)
  }

  function toLbs(number){
  return round((number * 2.2046226218),1)
  }

  function round(number, roundToNumber){
    return Math.round(number/roundToNumber)*roundToNumber;
  }
  $(document).ready(function(){
    $('#lbs').on('change checked', function(){
      const barWeight = $('#barWeightInput').val() 
      $('#barWeightLabel').text('lbs')
      $('#barWeightInput').val(toLbs(barWeight))
    })
    $('#kgs').on('change checked', function(){
      const barWeight = $('#barWeightInput').val() 
      $('#barWeightLabel').text('kgs')
      $('#barWeightInput').val(toKgs(barWeight))
    })
  })
</script>
<%- include("partials/headerFooter/footerSimple.ejs") -%>