<%- include("partials/headerFooter/header.ejs") -%>

<h1 class="white-text">Settings</h1>
<div class="spacer-div"></div>

<div class="card not-active">
  <div class="card-body">
    <h3 class="macro-header">Weights</h3>
    <div class="spacer-div"></div>
    <form action="/settings" method="POST" id="settingsForm">

        <%# include("partials/settings/weightUnit.ejs") %>

        <%let barWeight%>
        <%if (user.weightUnit === "kgs"){%>
          <% barWeight = functions.toKgs(user.barWeight) %>
        <%} else {%>
          <% barWeight = user.barWeight %>
        <%}%> 
        <%const barWeightlb = user.barWeight%>
        <div><div class="inline-block" style="width: 100px;">Bar Weight: </div><input style="margin-left: 20px;" type="number" inputmode="numeric" pattern="[0-9]*" class="main-input inline-block" id="barWeightInput" name="barWeight" max="9999" required value="<%=barWeight%>"><div class="inline-block" id="barWeightLabel"><%=user.weightUnit%></div></div>
      <div class="text-center"><button class="my-btn my-btn-secondary waves-effect waves-orange my-btn-medium" style="margin-top: 10px;" onclick="amplitude.getInstance().logEvent('Save Settings')">Save Settings</button></div>
      
    </form>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3 class="macro-header">Account</h3>
    <div class="spacer-div"></div>
      <p>You are currently logged in as <%=user.email%></p>
        <div class="spacer-div"></div>
      <div class="text-center"><a href="/logout" class="my-btn my-btn-secondary waves-effect waves-orange my-btn-medium">Logout</a></div>
      
  </div>
</div>



<div class="container-fluid">

<%- include("partials/headerFooter/largeScreenOverlay.ejs") -%>

<%- include("partials/headerFooter/footerScripts.ejs") -%>
<script>

  function toKgs(number){
  return round((number * 2.2046226218),1)
  }

  function toLbs(number){
  return round((number / 2.2046226218),1)
  }

  function round(number, roundToNumber){
    return Math.round(number/roundToNumber)*roundToNumber;
  }
  $(document).ready(function(){
    $('#lbs').on('change checked', function(){
      const barWeight = $('#barWeightInput').val() 
      $('#barWeightLabel').text('lbs')
      $('#barWeightInput').val(toLbs(barWeight))
    })
    $('#kgs').on('change checked', function(){
      const barWeight = $('#barWeightInput').val() 
      $('#barWeightLabel').text('kgs')
      $('#barWeightInput').val(toKgs(barWeight))
    })
  })
</script>
<%- include("partials/headerFooter/footerSimple.ejs") -%>