<%- include("partials/headerFooter/header.ejs") -%>

<h1 class="white-text">Subscribe to LessWork</h1>
<div class="spacer-div"></div>

<div class="spacer-div"></div>
<div class="spacer-div"></div>

<div class="text-center" style="margin:auto 0;">
    <span id="monthly" class="subscriptionPill">Monthly</span><span id="annual" class="subscriptionPill subPillBackground">Annual</span>
</div>

<div class="spacer-div"></div>


<div class="card not-active">
  <div class="card-body">
    <div class="spacer-div"></div>
    <div class="text-center">
        <p><span style="font-size: 36px; vertical-align: 40%; margin-right:5px;">$</span><span id="dollar" style="font-size: 72px;">2</span><span style="font-size: 14px; color:#7D7D7D">/month</span></p>
          <p style="font-size: 12px; color:#7D7D7D;">Cancel anytime</p>
          <button class="my-btn my-btn-primary waves-effect waves-orange my-btn-medium" style="margin-top: 10px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -1px 8px rgba(0, 0, 0, 0.05);" onclick="amplitude.getInstance().logEvent('Subscribe')" id="checkout-button" data-plan="plan_FT0oIfLxzOxF9m"
  role="link">Subscribe</button>
         
    </div>
      
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3 class="macro-header">Access Includes:</h3>
    <div class="spacer-div"></div>
    <div class="grid grid-subscribe">
        <img src="/icons/checkMarkOrange.svg" class="column1 orange-check"><p class="column2">Pre-loaded Kinobody workouts</p>
        <img src="/icons/checkMarkOrange.svg" class="column1 orange-check"><p class="column2">Suggested reps and weights</p>
        <img src="/icons/checkMarkOrange.svg" class="column1 orange-check"><p class="column2">Instructions on each exercise</p>
        <img src="/icons/checkMarkOrange.svg" class="column1 orange-check"><p class="column2">Macro & calorie calculators</p>
        <img src="/icons/checkMarkOrange.svg" class="column1 orange-check"><p class="column2">Bar weight calculator</p>
        <img src="/icons/checkMarkOrange.svg" class="column1 orange-check"><p class="column2">Rest timer & more!</p>
    </div>
    <div class="spacer-div"></div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <div class="grid-testimonial">
        <p class="testimonial-text" style="font-size: 20px;"><span style="font-size:30px;">“</span>  Trust me when I say this - it is amazing and one of the best workout trackers I have used  <span style="font-size:30px;">“</span></p>
        <img src="/images/testimonial1.png" class="testimonial-picture">
        <div class="testimonial-name">
          <p class="column2" style="font-weight: 700; margin-bottom:10px;">Blaine Anderson</p>
          <p class="column2" style="font-size: 12px; color: #888383;">Gained 20 lbs of muscle on Warrior Shredded</p>
        </div>
    </div>
    <div class="spacer-div"></div>
  </div>
</div>

<div id="error-message"></div>


<div class="container-fluid">

<%- include("partials/headerFooter/largeScreenOverlay.ejs") -%>

<%- include("partials/headerFooter/footerScripts.ejs") -%>
<script src="https://js.stripe.com/v3"></script>

<script>

  $(document).ready(function(){
    var stripe = Stripe('<%=stripePublicKey%>');

    var checkoutButton = document.getElementById('checkout-button');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{plan: $('#checkout-button').data('plan'), quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: '<%=ajaxUrl%>/success',
      cancelUrl: window.location.protocol + '//www.lesswork.me/canceled',
      customerEmail: '<%=user.email%>',
      // client_reference_id: '<%=user._id%>'
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
    $('.subscriptionPill').on('click',function(){
        $(this).addClass('subPillBackground')
        $(this).siblings().removeClass('subPillBackground')
    })
    $('#monthly').on('click',function(){
        $('#dollar').after('<span id="cents" style="font-size:36px;">.50</span>')
        $('#checkout-button').data('plan','plan_FT0d71193ygpEr')
    })
    $('#annual').on('click',function(){
        $('#cents').remove()
        $('#checkout-button').data('plan','plan_FT0oIfLxzOxF9m')
    })
  })
</script>
<%- include("partials/headerFooter/footerSimple.ejs") -%>