<%- include("partials/headerFooter/header.ejs") -%>

<h1 class="white-text">Subscribe to LessWork</h1>
<div class="spacer-div"></div>

<div class="spacer-div"></div>
<div class="spacer-div"></div>

<div class="text-center" style="margin:auto 0;">
    <span id="monthly" class="subscriptionPill">Monthly</span><span id="annual" class="subscriptionPill subPillBackground">Annual</span>
</div>

<div class="spacer-div"></div>


<div class="card not-active">
  <div class="card-body">
    <div class="spacer-div"></div>
    <div class="text-center">
        <p><span style="font-size: 36px; vertical-align: 40%; margin-right:5px;">$</span><span id="dollar" style="font-size: 72px;">2</span><span style="font-size: 14px; color:#7D7D7D">/month</span></p>
          <p style="font-size: 12px; color:#7D7D7D;">Cancel anytime</p>
          <button class="my-btn my-btn-primary waves-effect waves-orange my-btn-medium" style="margin-top: 10px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px -1px 8px rgba(0, 0, 0, 0.05);" onclick="amplitude.getInstance().logEvent('Subscribe')" id="checkout-button" data-plan="plan_FT0oIfLxzOxF9m"
  role="link">Subscribe</button>
         
    </div>
      
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3 class="macro-header">Access Includes:</h3>
    <div class="spacer-div"></div>
    <ul class="special-ul">
        <li class="li-special">Auto-calculated reps and weights</li>
        <li class="li-special">In-context exercise instructions</li>
        <li class="li-special">Bar weight, calorie, and macro calculators</li>
        <li class="li-special">Rest timers, history, and (coming soon) historical charts</li>
    </ul>
      <p style="font-size:14px; margin-bottom:-10px;"><a href="">View who you'll be supporting by purchasing</a></p>
    <div class="spacer-div"></div>
      
  </div>
</div>

<div id="error-message"></div>


<div class="container-fluid">

<%- include("partials/headerFooter/largeScreenOverlay.ejs") -%>

<%- include("partials/headerFooter/footerScripts.ejs") -%>
<script src="https://js.stripe.com/v3"></script>

<script>

  $(document).ready(function(){
    var stripe = Stripe('pk_test_0wq0jlvLlsB7enXvETbXMJj300jmVL9jEW');

    var checkoutButton = document.getElementById('checkout-button');
  checkoutButton.addEventListener('click', function () {
    // When the customer clicks on the button, redirect
    // them to Checkout.
    stripe.redirectToCheckout({
      items: [{plan: $('#checkout-button').data('plan'), quantity: 1}],

      // Do not rely on the redirect to the successUrl for fulfilling
      // purchases, customers may not always reach the success_url after
      // a successful payment.
      // Instead use one of the strategies described in
      // https://stripe.com/docs/payments/checkout/fulfillment
      successUrl: window.location.protocol + '//www.lesswork.me/success',
      cancelUrl: window.location.protocol + '//www.lesswork.me/canceled',
      customerEmail: '<%=user.email%>'
    })
    .then(function (result) {
      if (result.error) {
        // If `redirectToCheckout` fails due to a browser or network
        // error, display the localized error message to your customer.
        var displayError = document.getElementById('error-message');
        displayError.textContent = result.error.message;
      }
    });
  });
    $('.subscriptionPill').on('click',function(){
        $(this).addClass('subPillBackground')
        $(this).siblings().removeClass('subPillBackground')
    })
    $('#monthly').on('click',function(){
        $('#dollar').after('<span id="cents" style="font-size:36px;">.50</span>')
        $('#checkout-button').data('plan','plan_FT0d71193ygpEr')
    })
    $('#annual').on('click',function(){
        $('#cents').remove()
        $('#checkout-button').data('plan','plan_FT0oIfLxzOxF9m')
    })
  })
</script>
<%- include("partials/headerFooter/footerSimple.ejs") -%>