<%- include("partials/header.ejs") -%>
    

<h1>Exercises</h1>

<br>

<%#LOOP FOR OVER ALL EXERCISE%>
<%exercises.forEach(function(exercise, index){%>
<div class="card">
<div class="card-body">


    <div id="E<%=index%>">
    <h2 class="card-title"><%= exercise.name %> </h2>

<p class="text-muted"><a href="#" data-toggle="modal" data-target="#basicExampleModal">Exercise Instructions</a></p>

<!-- Modal -->
        <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Exercise Instructions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="text-muted">Rest <%=functions.secondsToMinutes(exercise.pauseDuration)%> between each set</p>
                <% if(exercise.weightType === "dumbbells") {%>
                    
                    <p class="text-muted">Enter per dumbbell weight, not total weight</p>
                    <%}%>
                <%#HANDLE ALL THE PARAGRAPHS%>
                <%exercise.instructions.forEach(function(paragraph){%>
                    <p class="text-muted"><%=paragraph%></p>
                <%})%>
                <p><a href="<%=exercise.videoLink%>" target="_blank">Demo Video</a><small class="text-muted"> (this will open a new window)</small></p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
    <!-- /Modal -->

    

    <%#WARMUPS LOOP%>

    <%#WEIGHT FROM FIRST SET FOR WARMUP CALC%>
    <%const firstDisplayWeight = displayExercises[index][0].weight%>

    <%exercise.warmUps.forEach(function(warmUp, ind){%>
        
        <h4>Warm-up <%= ind + 1 %></h4>
        <%#HANDLE BODY-WEIGHT WARMUPS%>
        <% if (warmUp.percent === 0) { %> 
        <p id="warmup_<%=index%>_<%=ind%>"><%= warmUp.reps %>  reps <p>at bodyweight </p>

        <%#HANDLE NO PREVIOUS EXERCISES%>    
        <%  } else if (typeof(firstDisplayWeight) === "string") { %>
            <p id="warmup_<%=index%>_<%=ind%>"><%= warmUp.reps %>  reps <p> <%=warmUp.percent%>% max weight</p>
        <% } else { %>

            <%#DECLARE WEIGHT FOR EACH WARMUP%>
            <% const weight = functions.round(firstDisplayWeight * (warmUp.percent/100),5) %>

            <%#WARMUP BARCALC%>
            <%if (exercise.weightType === "bar") { %>
                <p class="text-muted barCalcWarmUp" id="barCalc_<%=index%>_<%=ind%>"></p>
            <% } %>

            <%#SHOW NORMAL WARMUP WEIGHT%>
            <p class="weightWarmUp" data-weight="<%=weight%>" id="warmup_<%=index%>_<%=ind%>"><%= warmUp.reps %>  reps <p> <%= weight%> lbs</p> 
            
        <%  } %>
    <%})%>
    <br>
    <form action="/workout/<%=packageUrl%>/<%=workout.nameShort%>" method="POST">
    
    <%#SETS LOOP%>
    <%exercise.sets.forEach(function(set, i){%>
        <h4>Set <%=i + 1%></h4>

        <%#DECLARE WEIGHT FOR EACH SET%>
        <% const weight = displayExercises[index][i].weight %>
        <% let unit = "reps" %>  

        <%#CHANGE UNIT FOR SELECT EXERCISES%>
        <% if (exercise.name === "Plank Hold" | exercise.name === "Side Plank Hold" | exercise.name === "Hip Bridge Hold") {unit = "seconds"}%>

        <%#HANDLE BAR CALC IF BAR%>
            <%if (exercise.weightType === "bar") { %>
            <p class="text-muted barCalc" id="barCalc_<%=index%>_<%=i%>"></p>
            <%}%>

            <%#HANDLE LAST WEEKS SETS%>
            <%const lastWeight = lastExercises[index].sets[i].weight%>
            <%const lastReps = lastExercises[index].sets[i].reps%>
            <%const lastNote = lastExercises[index].sets[i].note%>
            <%const exerciseName = lastExercises[index]._id.name%>
            <%if (lastReps != null){ %>
                <p>Last time: <%=lastReps%> <%=unit%> at <%if (exercise.dropDown.length > 0){ %>
                <%=functions.optionMapper(exerciseName, lastWeight)%>
            <%} else {%>
                <%=lastWeight%>lbs<%}%><% if (lastNote) {%>, <%=lastNote%><%}%>
                </p>
            <%} %>

        <%#HANDLE REPS%>
             
            <div class="def-number-input number-input inline-block">
            <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>

            <input type="number" class=quantity required id="reps_<%=index%>_<%=i%>"
            <% if (displayExercises[index][i].low === null) { %>
                value="<%=displayExercises[index][i].high%>"
            <% } else { %>
                value="<%=displayExercises[index][i].low%>"
            <% } %>
            name="reps[]" min="0" max="999">
            <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
            </div> <%=unit%> 
            <br>

        <%#HANDLE WEIGHTS%>
            
            <%#HANDLE DROPDOWN OPTIONS%>
            <% if (exercise.dropDown.length > 0){ %>
                <select name="weight[]" required class="browser-default custom-select">
                <% exercise.dropDown.forEach(function(dropDownOption, inde){ %>
                    <option value="<%= inde %>" 
                    <% if (displayExercises[index][i].weight === inde ){ %>
                        selected
                    <% } %> >
                    <%=dropDownOption%></option>
                <% }) %>
                </select>
                
            <% } else { %>

            <%#HANDLE NORMAL WEIGHT INPUTS%>
                <div class="def-number-input number-input inline-block">
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                
                <input type="number" class="quantity" required id="weight_<%=index%>_<%=i%>"

                <%#NO PREVIOUS EXERCISES%>
                <%if (typeof(weight) === "string"){%>
                    placeholder="<%= weight %>" 

                <%#NORMAL EXERCISES%>
                    <%} else {%>
                    value="<%= weight %>"
                    <% } %>
                name="weight[]" step="<%=exercise.weightIncrement%>" min="<%=exercise.startWeight%>" max="9999">
                
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                </div> lbs
                <br>
            <% } %>

        <%#HANDLE NOTES%>
        <input type="text" class="form-control startHidden" id="note_<%=index%>_<%=i%>" name="note[]" placeholder="note about your set" maxlength="140">
        <p><a href="#" class="addNote" id="addNote_<%=index%>_<%=i%>">Add note</a></p>

    <%})%>

    <input type="hidden" name="exerciseName" value="<%= exercise.name %>">
    <input type="hidden" name="templateId" value="<%= exercise._id %>">
    <input type="hidden" name="packageUrl" value="<%= packageUrl %>">
    <input type="hidden" name="workout" value="<%= workout.nameShort %>">
    <input type="hidden" name="order" value="<%= exercise.order %>">
    <button type="submit" class="btn btn-primary workout-button">Save</button>
    </form>

    </div>

    </div>
</div>

<%})%>

</div>


<%- include("partials/footer.ejs") -%>