<%- include("partials/headerFooter/header.ejs") -%>
    

<h1 class="white-text"><%=workout.name%></h1>

<br>

<%#LOOP FOR OVER ALL EXERCISE%>
<%exercises.forEach(function(exercise, index){%>

<%#CHANGE UNIT FOR SELECT EXERCISES%>
<% let unit = "reps" %>  
<% if (exercise.name === "Plank Hold" | exercise.name === "Side Plank Hold" | exercise.name === "Hip Bridge Hold") {unit = "seconds"}%>

    <!-- Handle if first time on exercise -->
    <%if (lastExercises[index].sets[0].reps === null && exercise.name != "Plank Hold" && exercise.name != "Side Plank Hold" && exercise.name != "Hip Bridge Hold"){ %>

        <div class="card">
            <div class="card-body">
                <div id="E<%=index%>">
                    <!-- Exercise Header -->
                    <%- include("partials/workout/exerciseHeader/exerciseHeader.ejs", {index: index, exercise: exercise, unit: unit}) -%>
                    <%- include("partials/workout/firstTimeExercise.ejs", {index: index, exercise: exercise, unit: unit}) -%>
                </div>
            </div>
        </div>

    <%} else { %>

<!--Calculate Hours Since Last Saved Workout-->
<%let hoursDifference%>
<%if (lastExercises[index].lastId != null && lastExercises[index].lastId != undefined) { %>
    <%const lastCompletedDate = lastExercises[index].lastId.getTimestamp()%>
    <%const now = Date.now()%>
    <%hoursDifference = Math.abs(lastCompletedDate - now)/36e5%>
<%} else {%>
    <%hoursDifference = null%>
<%}%> 
    

        <div class="card">
            <div class="card-body">
                <div id="E<%=index%>">
                    <!-- Exercise Header -->
                    <%- include("partials/workout/exerciseHeader/exerciseHeader.ejs", {index: index, exercise: exercise, unit: unit}) -%>

                    <div class="clickable" data-toggle="modal" data-target="#fullExerciseModal<%=index%>" data-backdrop="static" data-keyboard="false">
                    <h6>Sets</h6>
                    <%exercise.sets.forEach(function(set, index4){%>
                        <%const lastWeight3 = lastExercises[index].sets[index4].weight%>
                        <%const lastReps3 = lastExercises[index].sets[index4].reps%>
                        <% const weight = displayExercises[index][index4].weight %>

                        <p><button class="btn-list-number"><%=index4 + 1%></button>
                            <%if (hoursDifference != undefined && hoursDifference != null && hoursDifference < 18 && lastExercises[index].sets[1].weight != null){%>
                                <%=lastReps3%> <%=unit%> at <%=weight%> lbs
                            <%} else if (displayExercises[index][index4].low === null) { %>
                                <%=displayExercises[index][index4].high%> <%=unit%> at <%=weight%> lbs
                            <% } else { %>
                                <%=displayExercises[index][index4].low%> <%=unit%> at <%=weight%> lbs
                            <% } %>
                        </p>
                    <%})%>
                    <%if (hoursDifference != undefined && hoursDifference != null && hoursDifference < 18 && lastExercises[index].sets[1].weight != null) {%>
                        <div style="text-align: center;">
                        <p class="diminished no-margin"><img src="/icons/checkMark.svg"> Completed - <a href="#" class="italic">Edit</a></p>
                        </div>
                    <%} else {%>
                        <button class="my-btn btn-full-width my-btn-secondary waves-effect waves-orange">Start Exercise</button>
                    <%}%>
                    </div>
                    <%- include("partials/workout/fullExercise.ejs", {index: index, exercise: exercise, unit: unit}) -%>
                </div>
            </div>
        </div>

<%}%>

<%})%>

</div>

<%- include("partials/headerFooter/largeScreenOverlay.ejs") -%>

<%- include("partials/headerFooter/footer.ejs") -%>