<%- include("partials/headerFooter/header.ejs") -%>
<input type="hidden" id="weightUnit" value="<%=user.weightUnit%>">    

<h1 class="white-text"><%=workout.name%></h1>
<br>

<%#LOOP FOR OVER ALL EXERCISE%>
<%exercises.forEach(function(exercise, index){%>

<%#CHANGE UNIT FOR SELECT EXERCISES%>
<% let unit = "reps" %>  
<% if (exercise.name === "Plank Hold" | exercise.name === "Side Plank Hold" | exercise.name === "Hip Bridge Hold") {unit = "seconds"}%>

<!--Calculate edit state-->
<%let hoursDifference = null%>
<%if (lastExercises[index].lastId != null && lastExercises[index].lastId != undefined) { %>
    <%const lastCompletedDate = lastExercises[index].lastId.getTimestamp()%>
    <%const now = Date.now()%>
    <%hoursDifference = Math.abs(lastCompletedDate - now)/36e5%>
<%}%>

<%let editState = false%>
<%if (hoursDifference != (undefined || null) && hoursDifference < 18 && ((lastExercises[index].sets[1] != (undefined || null) && lastExercises[index].sets[1].weight != (undefined || null) ) || exercise.name === "Hip Bridge Hold")) {%>
    <% editState = true %>
<%}%>

<%#ACCOUNT FOR KG STUFF%>
<%let step = exercise.weightIncrement%>
<%let startWeight = exercise.startWeight%>
<% if (user.weightUnit === "kgs"){%>
    <%step = exercise.weightIncrementKg %>
    <%startWeight = exercise.startWeightKg%>
<% } %>


    <!-- Handle if first time on exercise -->
    <%if (lastExercises[index].sets[0].reps === null && exercise.name != "Plank Hold" && exercise.name != "Side Plank Hold" && exercise.name != "Hip Bridge Hold" && exercise.name != "Pushups"){ %>

        <div class="card">
            <div class="card-body">
                <div id="E<%=index%>">
                    <!-- Exercise Header -->
                    <%- include("partials/workout/exerciseHeader/exerciseHeader.ejs", {index: index, exercise: exercise, unit: unit, editState: editState}) -%>
                    <%- include("partials/workout/firstTimeExercise.ejs", {index: index, step: step, startWeight: startWeight, exercise: exercise, unit: unit, user: user, functions: functions, editState: editState}) -%>
                </div>
            </div>
        </div>

    <%} else { %>


    

        <div class="card">
            <div class="card-body">
                <div id="E<%=index%>">
                    <!-- Exercise Header -->
                    <%- include("partials/workout/exerciseHeader/exerciseHeader.ejs", {index: index, exercise: exercise, unit: unit, editState: editState}) -%>

                    <div class="clickable" data-toggle="modal" data-target="#fullExerciseModal<%=index%>" data-backdrop="static" data-keyboard="false">
                        <h6>Sets</h6>
                        <%exercise.sets.forEach(function(set, index4){%>
                            <%const lastReps3 = lastExercises[index].sets[index4].reps%>
                            <%const lastNote = lastExercises[index].sets[index4].note%>
                            
                            <%let lastWeight3 = lastExercises[index].sets[index4].weight%>
                            <%let weight = displayExercises[index][index4].weight%>
                            <%#HANDLE KGS %>
                            <%if (user.weightUnit === "kgs"){%>
                                <%weight = functions.round(functions.toKgs(displayExercises[index][index4].weight), exercise.weightIncrementKg) %>
                                <%lastWeight3 = functions.round(functions.toKgs(lastExercises[index].sets[index4].weight), exercise.weightIncrementKg) %>
                            <%}%>

                            <%let weightSentence = "at " + weight + " " + user.weightUnit%>
                            <%let weightSentence2 = "at " + lastWeight3 + " " + user.weightUnit%>
                            <%#HANDLE DROPDOWNS %>
                            <%if (exercise.dropDown.length > 0){%>
                                <%weightSentence = exercise.dropDown[displayExercises[index][index4].weight]%>
                                <%weightSentence2 = exercise.dropDown[displayExercises[index][index4].weight]%>
                            <%}%>


                            <p><button class="btn-list-number"><%=index4 + 1%></button>
                                <%if (editState) {%>
                                    <%=lastReps3%> <%=unit%> <%=weightSentence2%> <%if (lastNote.length > 0){%>
                                    , <%=lastNote%>
                                    <%}%>
                                <%} else if (displayExercises[index][index4].low === null) { %>
                                    <%=displayExercises[index][index4].high%> <%=unit%> <%=weightSentence%> 
                                <% } else { %>
                                    <%=displayExercises[index][index4].low%> <%=unit%> <%=weightSentence%> 
                                <% } %>
                            </p>
                        <%})%>

                        <!--If Completed in last 18 hours show Completed CheckMark-->
                        <%if (editState) {%>
                            <div style="text-align: center;">
                            <p class="diminished no-margin"><img src="/icons/checkMark.svg"> Completed - <a href="#" class="italic">Edit</a></p>
                            </div>
                        <%} else {%>
                            <button class="my-btn btn-full-width my-btn-secondary waves-effect waves-orange">Start Exercise</button>
                        <%}%>
                    </div>

                    <!--FullExercise Modal-->
                    <%- include("partials/workout/fullExercise.ejs", {index: index, step: step, startWeight: startWeight, exercise: exercise, unit: unit, user:user, functions: functions, editState: editState, hoursDifference: hoursDifference}) -%>
                </div>
            </div>
        </div>

<%}%>

<%})%>

</div>

<%let barWeight = user.barWeight%>
<%if (user.weightUnit === "kgs"){%>
    <%barWeight = functions.toKgs(barWeight)%>
<%}%>

<div id="barWeight" data-bar-weight="<%=barWeight%>"></div>

<div class="modal fade special-modal" style="z-index:20000;" id="restTimerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rest Timer</h5>
        <img src="/icons/Close.svg" class="close" data-dismiss="modal" aria-label="Close">
        </img>
    </div>
    <div class="modal-body">
        <div class="d-flex justify-content-center" style="margin-top:30px; margin-bottom: 30px;">
            <svg width="250" height="250" style="">
                <defs>
                    <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:#FE8C00;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:rgba(255,255, 2555,0);stop-opacity:1" />
                    </linearGradient>
                </defs>
                <g>
                    <circle cx="125" cy="125" r="114" stroke="#F4F4F4" stroke-width="8" fill="transparent"/>
                    <circle class="overlayCircle" cx="125" cy="125" r="114" stroke="#F4F4F4" stroke-width="8" fill="transparent"/>
                    <text id="minuteTimer" x="60" y="151" style="font-size: 64px;">2</text>
                    <text x="100" y="151" style="font-size: 64px;">:</text>
                    <text id="secondTimer" x="120" y="151" style="font-size: 64px;">59</text>
                </g>
            </svg>
        </div>
        <div class="d-flex justify-content-between">
            <a type="button" id="restart" href="#" class="my-btn btn-link ask-about-macro-button">Restart</a>
            <a type="button" href="#" class="my-btn my-btn-secondary ask-about-macro-button" data-dismiss="modal">End Timer</a>
        </div>
    </div>
    </div>
</div>
</div>

<div class="modal-two"></div>

<%- include("partials/headerFooter/largeScreenOverlay.ejs") -%>

<%- include("partials/headerFooter/footerScripts.ejs") -%>
<script>
    let minutes = 2
    let seconds = 59

    $(document).ready(function(id){
        
        $('.restTimer').click(function(){
            $('.modal-two').fadeIn(400);
            id = setInterval(() => {
                $('#minuteTimer').text(minutes)
                $('#secondTimer').text(seconds)
                if (seconds === '00' && minutes > 0){
                    seconds = 59
                    minutes = minutes - 1
                } else if (seconds === '00' & minutes === 0){
                    clearInterval(id)
                }
                seconds--
                if (seconds < 10){
                    seconds = '0' + seconds
                }
            }, 1000);
        })
        $('#restart').click(function(){
            if (seconds === '00' && minutes === 0){
                console.log("true")
                seconds = 59
                minutes = 2
                id = setInterval(() => {
                    $('#minuteTimer').text(minutes)
                    $('#secondTimer').text(seconds)
                    if (seconds === '00' && minutes > 0){
                        seconds = 59
                        minutes = minutes - 1
                    } else if (seconds === '00' & minutes === 0){
                        clearInterval(id)
                    }
                    seconds--
                    if (seconds < 10){
                        seconds = '0' + seconds
                    }
            }, 1000);
            } else {
                let current = $('.overlayCircle')
                let clone  = current.clone(true)
                current.before(clone)
                current.remove()

                seconds = 59
                minutes = 2
            }
        })
        $("#restTimerModal").on("hide.bs.modal", function () {
            clearInterval(id)
            seconds = 59
            $('#timerText').text(seconds)
            $('.modal-two').fadeOut(400);
        });

        $(document).on('hidden.bs.modal', function (event) {
            if ($('.modal:visible').length) {
                $('body').addClass('modal-open');
            }
        });

    })
</script>
<%- include("partials/headerFooter/footerSimple.ejs") -%>