<%- include("partials/header.ejs") -%>

<h1>Exercises</h1>


<%#LOOP FOR OVER ALL EXERCISE%>
<%exercises.forEach(function(exercise, index){%>
    <h3><%= exercise.name %> </h3>

    <%#WARMUPS LOOP%>
    <%exercise.warmUps.forEach(function(warmUp, ind){%>
        <% if (warmUp.percent === 0) { %>
            <p>Warm Up <%= ind + 1 %>: <strong><%= warmUp.reps %>  reps at bodyweight </strong></p>
        <%  } else if (displayExercises[index][0].weight === 0) { %>
            <p>Warm Up <%= ind + 1 %>: <strong><%= warmUp.reps %>  reps at <%=warmUp.percent%>% max weight </strong></p>
        <% } else { %>
            <p><%= warmUp.percent %> % Warm Up: <strong><%= warmUp.reps %>  reps at <%= functions.round(displayExercises[index][0].weight * (warmUp.percent/100),5) %> lbs </strong></p>
        <%  } %>
    <%})%>

    <form action="/workout/<%=packageUrl%>/<%=workout.nameShort%>" method="POST">
    
    <%#SETS LOOP%>
    <%exercise.sets.forEach(function(set, i){%>
        <h6>Set <%=i + 1%></h6>
        <% let unit = "reps" %>  
        <% if (exercise.name === "Plank Hold" | exercise.name === "Side Plank Hold" | exercise.name === "Hip Bridge Hold") {unit = "seconds"}%>
        <% if (displayExercises[index][i].weight < 1) { %> 
            <input type="number" placeholder="<%=set.low%> - <%=set.high%> <%=unit%>" name="reps[]">
            at
            <input type="number" placeholder="<%=functions.maxWeightText(i)%>" name="weight[]" step="5" min="0">
        <% } else { %>
            <input type="number" 
            <% if (displayExercises[index][i].low === null) { %>
                placeholder="<%=displayExercises[index][i].high%> <%=unit%>"
            <% } else { %>
                placeholder="<%=displayExercises[index][i].low%> - <%=displayExercises[index][i].high%> <%=unit%>"
            <% } %>
            name="reps[]"> at 
            <% if (exercise.dropDown.length > 0){ %>
                <select name="weight[]">
                <% exercise.dropDown.forEach(function(dropDownOption, inde){ %>
                    <option value="<%= inde %>" 
                    <% if (displayExercises[index][i].weight === inde ){ %>
                        selected
                    <% } %> >
                    <%=dropDownOption%></option>
                <% }) %>
                </select>    
            <% } else { %>
                <input type="number" value="<%= displayExercises[index][i].weight%>" name="weight[]" step="5" min="0">
        <% } %>

        <% } %> 
    <%})%>

    <input type="hidden" name="exerciseName" value="<%= exercise.name %>">
    <input type="hidden" name="templateId" value="<%= exercise._id %>">
    <input type="hidden" name="packageUrl" value="<%= packageUrl %>">
    <input type="hidden" name="workout" value="<%= workout.nameShort %>">
    <input type="hidden" name="order" value="<%= exercise.order %>">
    <button type="submit" class="btn btn-primary">Save</button>
    </form>

<%})%>

<%- include("partials/footer.ejs") -%>