<%- include("partials/header.ejs") -%>
    

<h1>Exercises</h1>

<br>

<%#LOOP FOR OVER ALL EXERCISE%>
<%exercises.forEach(function(exercise, index){%>

<% let unit = "reps" %>  

<%#CHANGE UNIT FOR SELECT EXERCISES%>
<% if (exercise.name === "Plank Hold" | exercise.name === "Side Plank Hold" | exercise.name === "Hip Bridge Hold") {unit = "seconds"}%>

<div class="card">
<div class="card-body">


<div id="E<%=index%>">
<h2 class="card-title"><%= exercise.name %> </h2>

<p class="text-muted inline-block"><a href="#" data-toggle="modal" data-target="#instructionsModal<%=index%>">Instructions</a></p> | 
<p class="text-muted inline-block"><a href="#" class="viewPast" data-exercise="<%=index%>" data-toggle="modal" data-target="#pastExercisesModal<%=index%>">History</a></p>


<!-- Modal -->
        <div class="modal fade" id="instructionsModal<%=index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><a href="<%=exercise.videoLink%>" target="_blank">Demo Video</a><small class="text-muted"> (this will open a new window)</small></p>
                
                <!-- Handle all paragraphs -->
                <%if (exercise.instructions != null | exercise.instructions != undefined) {%>
                    <h6>Instructions</h6>
                    <% if(exercise.weightType === "dumbbells") {%>
                        <p class="text-muted">Enter per dumbbell weight, not total weight</p>
                    <%}%> 
                    <%exercise.instructions.forEach(function(paragraph, index1){%>
                        <p class="text-muted"><%=paragraph%></p>
                    <%})%>
                <%}%>
                <%#HANDLE IF NOTES FROM COURSE%> 
                <%if (exercise.notesFromCourse != null | exercise.notesFromCourse != undefined){%>
                    <h6>Notes From Course</h6>
                    <%exercise.notesFromCourse.forEach(function(paragraph, index2){%>
                        <p class="text-muted"><%=paragraph%></p>
                    <%})%>
                <%}%>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
    <!-- /Modal -->


    <!-- Modal2 -->
    <div class="modal fade" id="pastExercisesModal<%=index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">History</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body past-exercises" data-exericse="<%=index%>">

        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
    <!-- /Modal2 -->

    <%#HANDLE IF FIRST TIME ON EXERCISE%>
    <%if (lastExercises[index].sets[0].reps === null && exercise.name != "Plank Hold" && exercise.name != "Side Plank Hold" && exercise.name != "Hip Bridge Hold"){ %>
    
    <form action="/workout/<%=packageUrl%>/<%=workout.nameShort%>" method="POST">
                <div>
                <div>Enter your estimated max weight for <%=displayExercises[index][0].low%> <%=unit%> of this exercise and we'll calculate your set!</div>

                <%exercise.sets.forEach(function(set, index3){%>
                    
                    <%#HANDLE VISIBLE INPUT%>
                    <%if(index3 === 0){%>
                        
                        <%#HIDDEN INPUTS%>
                        <input type="hidden" name="reps[]" value="<%=exercise.sets[index3].high%>">
                        <input type="hidden" name="note[]">

                        <%#WEIGHT BUTTON%>
                        <p></p>
                        <h4>Max Weight</h4>
                        <div class="def-number-input number-input inline-block">
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
                        
                        <input type="number" class="quantity" required
                        value="<%=exercise.startWeight%>" name="weight[]"  step="<%=exercise.weightIncrement%>" min="<%=exercise.startWeight%>" max="9999">
                        
                        <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                        </div> lbs
                        <p></p>

                    <%#HANDLE ALL INVISIBLE INPUTS%>
                    <%} else {%> 
                        <%#REPS%>
                        <input type="hidden" name="reps[]" value="<%=exercise.sets[index3].high%>">

                        <%#WEIGHTS%>
                        <input type="hidden" name="weight[]" value="<%=null%>">

                        <%#NOTES%>
                        <input type="hidden" name="note[]">

                    <%}%>
                <%})%>

    <input type="hidden" name="isFirstTime" value="true">
    <input type="hidden" name="step" value="<%=exercise.weightIncrement%>">
    <input type="hidden" name="exerciseName" value="<%= exercise.name %>">
    <input data-exercise="<%=index%>" type="hidden" name="templateId" value="<%= exercise._id %>">
    <input type="hidden" name="packageUrl" value="<%= packageUrl %>">
    <input type="hidden" name="workout" value="<%= workout.nameShort %>">
    <input type="hidden" name="order" value="<%= exercise.order %>">
        <div>
        <button type="submit" class="btn btn-primary workout-button" style="margin-left:0px">Create Sets</button>
        </div>
    </form>

    </div>
    <%} else { %>

    <%#WARMUPS LOOP%>

    <%#WEIGHT FROM FIRST SET FOR WARMUP CALC%>
    <%const firstDisplayWeight = displayExercises[index][0].weight%>

    <%exercise.warmUps.forEach(function(warmUp, ind){%>
        
        <h4>Warm-up <%= ind + 1 %></h4>
        
        <%#HANDLE BODY-WEIGHT WARMUPS%>
        <% if (warmUp.percent === 0) { %> 
            <p id="warmup_<%=index%>_<%=ind%>"><%= warmUp.reps %>  reps <p>at bodyweight </p>
        <% } else { %>
            <%#DECLARE WEIGHT FOR EACH WARMUP%>
            <% const weight = functions.round(firstDisplayWeight * (warmUp.percent/100),5) %>

            <%#WARMUP BARCALC%>
            <%if (exercise.weightType === "bar") { %>
                <p class="text-muted barCalcWarmUp" id="barCalc_<%=index%>_<%=ind%>"></p>
            <% } %>

            <%#SHOW NORMAL WARMUP WEIGHT%>
            <p class="weightWarmUp" data-weight="<%=weight%>" id="warmup_<%=index%>_<%=ind%>"><%= warmUp.reps %>  reps <p> <div style="display: inline;" data-percent="<%=warmUp.percent%>" data-warmup="<%=ind%>"><%= weight%></div> lbs</p> 
            
        <%  } %>
    <%})%>
    <form action="/workout/<%=packageUrl%>/<%=workout.nameShort%>" method="POST">
    
    <%#SETS LOOP%>
    <%exercise.sets.forEach(function(set, i){%>
        <h4>Set <%=i + 1%></h4>

        <%#DECLARE WEIGHT FOR EACH SET%>
        <% const weight = displayExercises[index][i].weight %>

        <%#HANDLE LAST WEEKS SETS%>
        <%const lastWeight = lastExercises[index].sets[i].weight%>
        <%const lastReps = lastExercises[index].sets[i].reps%>
        <%const lastNote = lastExercises[index].sets[i].note%>
        <%const exerciseName = lastExercises[index]._id.name%>
        <%if (lastReps != null && lastExercises[index].sets[1].weight){ %>
            <p class="text-muted">Last time: <%=lastReps%> <%=unit%> at <%if (exercise.dropDown.length > 0){ %>
            <%=functions.optionMapper(exerciseName, lastWeight)%>
        <%} else {%>
            <%=lastWeight%>lbs<%}%><% if (lastNote) {%>, <%=lastNote%><%}%>
            </p>
        <%} %>


        <%#HANDLE BAR CALC IF BAR%>
        <%if (exercise.weightType === "bar") { %>
        <p class="text-muted barCalc" id="barCalc_<%=index%>_<%=i%>"><i class="fas fa-dumbbell"></i></p>
        <%}%>

        <%#HANDLE REPS%>
             
            <div class="inline-block my-counter-div">
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="weight-button my-counter before-radius"><i class="fal fa-minus"></i></button>
                
                <input type="number" class="quantity my-counter counter-input" required id="reps_<%=index%>_<%=i%>"
                <% if (displayExercises[index][i].low === null) { %>
                    value="<%=displayExercises[index][i].high%>"
                <% } else { %>
                    value="<%=displayExercises[index][i].low%>"
                <% } %>
                name="reps[]" min="0" max="999">
                
                <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="weight-button my-counter after-radius"><i class="fal fa-plus"></i></button>
            </div> <%=unit%>
            <br>

        <%#HANDLE WEIGHTS%>
            
            <%#HANDLE DROPDOWN OPTIONS%>
            <% if (exercise.dropDown.length > 0){ %>
                <select name="weight[]" required class="browser-default custom-select">
                <% exercise.dropDown.forEach(function(dropDownOption, inde){ %>
                    <option value="<%= inde %>" 
                    <% if (displayExercises[index][i].weight === inde ){ %>
                        selected
                    <% } %> >
                    <%=dropDownOption%></option>
                <% }) %>
                </select>
                
            <% } else { %>

            <%#HANDLE NORMAL WEIGHT INPUTS%>
                <div class="inline-block my-counter-div">
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="weight-button my-counter before-radius"><i class="fal fa-minus"></i></button>
                    
                    <input type="number" class="quantity my-counter counter-input" required data-set-weight="<%=i%>" id="weight_<%=index%>_<%=i%>" value="<%= weight %>"
                    name="weight[]" step="<%=exercise.weightIncrement%>" min="<%=exercise.startWeight%>" max="9999" style="text-align: center;">
                    
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="weight-button my-counter after-radius"><i class="fal fa-plus"></i></button>
                </div> lbs 

            <% } %>

        <%#HANDLE NOTES%>
        <input style="margin-bottom: 10px;" type="text" class="form-control startHidden" id="note_<%=index%>_<%=i%>" name="note[]" placeholder="Note about your set" maxlength="140">
        <p><a href="#" class="addNote"  id="addNote_<%=index%>_<%=i%>">Add Note</a></p>

    <%})%>
    <input type="hidden" name="isFirstTime" value="false">
    <input type="hidden" name="exerciseName" value="<%= exercise.name %>">
    <input data-exercise="<%=index%>" type="hidden" name="templateId" value="<%= exercise._id %>">
    <input type="hidden" name="packageUrl" value="<%= packageUrl %>">
    <input type="hidden" name="workout" value="<%= workout.nameShort %>">
    <input type="hidden" name="order" value="<%= exercise.order %>">
    <button type="submit" class="btn btn-primary workout-button">Save</button>
    </form>

    <%}%>

    </div>

    </div>
</div>

<%})%>

</div>


<%- include("partials/footer.ejs") -%>