<%- include("partials/headerFooter/header.ejs") -%>
    

<h1>Exercises</h1>

<br>

<%#LOOP FOR OVER ALL EXERCISE%>
<%exercises.forEach(function(exercise, index){%>

<%#CHANGE UNIT FOR SELECT EXERCISES%>
<% let unit = "reps" %>  
<% if (exercise.name === "Plank Hold" | exercise.name === "Side Plank Hold" | exercise.name === "Hip Bridge Hold") {unit = "seconds"}%>

    <!-- Hande if first time on exercise -->
    <%if (lastExercises[index].sets[0].reps === null && exercise.name != "Plank Hold" && exercise.name != "Side Plank Hold" && exercise.name != "Hip Bridge Hold"){ %>

        <div class="card">
            <div class="card-body">
                <div id="E<%=index%>">
                    <!-- Exercise Header -->
                    <%- include("partials/workout/exerciseHeader/exerciseHeader.ejs", {index: index, exercise: exercise, unit: unit}) -%>
                    <%- include("partials/workout/firstTimeExercise.ejs", {index: index, exercise: exercise, unit: unit}) -%>
                </div>
            </div>
        </div>

    <%} else { %>

        <div class="card">
            <div class="card-body">
                <div id="E<%=index%>">
                    <!-- Exercise Header -->
                    <%- include("partials/workout/exerciseHeader/exerciseHeader.ejs", {index: index, exercise: exercise, unit: unit}) -%>

                    <!-- Warmups -->
                    <%- include("partials/workout/warmups.ejs", {index: index, exercise: exercise}) -%>

                    <!-- Sets -->
                    <%- include("partials/workout/sets/sets.ejs", {index: index, exercise: exercise, unit: unit}) -%>
                </div>
            </div>
        </div>

<%}%>

<%})%>

</div>


<%- include("partials/headerFooter/footer.ejs") -%>