 

<div>
<div class="clickable" data-toggle="modal" data-target="#fullExerciseModal<%=index%>" data-backdrop="static" data-keyboard="false">

<%if (hoursDifference != (undefined || null) && hoursDifference < 18 && ((lastExercises[index].sets[1] != (undefined || null) && lastExercises[index].sets[1].weight != (undefined || null) ) || exercise.name === "Hip Bridge Hold")) {%>
    <h2 class="card-title white-text"><%= exercise.name %> - Edit</h2>
<%} else {%>
    <h2 class="card-title white-text"><%= exercise.name %></h2>
<%}%>
</div>

<ul class="nav nav-tabs nav-justified md-tabs" id="myTabJust" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="today-tab-just-<%=index%>" data-toggle="tab" href="#today-just-<%=index%>" role="tab" aria-controls="today-just"
        aria-selected="true">Today</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="instructions-tab-just-<%=index%>" data-toggle="tab" href="#instructions-just-<%=index%>" role="tab" aria-controls="instructions-just" aria-selected="false" onclick="amplitude.getInstance().logEvent('Instructions Clicked')">Instructions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link viewPast2" data-exercise="<%=index%>" id="history-tab-just-<%=index%>" data-toggle="tab" href="#history-just-<%=index%>" role="tab" aria-controls="history-just" aria-selected="false" onclick="amplitude.getInstance().logEvent('History Clicked')">History</a>
    </li>

</ul>

    <!-- Instructions Modal -->
    <%- include("./instructionsModal.ejs", {index: index, exercise: exercise}) -%>

    <!-- History Modal -->
    <%- include("./historyModal.ejs", {index: index, exercise: exercise}) -%>
    
    <div class="spacer-div"></div>
</div>