<div class="clickable" data-toggle="modal" data-target="#fullExerciseModal<%=index%>" data-backdrop="static" data-keyboard="false">
<h2 class="card-title"><%= exercise.name %> </h2>
</div>

<p class="inline-block"><a href="#" data-toggle="modal" data-target="#instructionsModal<%=index%>">Instructions</a></p> | 
<p class="inline-block"><a href="#" class="viewPast" data-exercise="<%=index%>" data-toggle="modal" data-target="#pastExercisesModal<%=index%>">History</a></p>


    <!-- Instructions Modal -->
    <%- include("./instructionsModal.ejs", {index: index, exercise: exercise}) -%>

    <!-- History Modal -->
    <%- include("./historyModal.ejs", {index: index, exercise: exercise}) -%>