<form action="/workout/<%=packageUrl%>/<%=workout.nameShort%>" method="POST">
                <div>
                <div>Enter your estimated max for <%if(displayExercises[index][0].low === null){%>
                    <%=displayExercises[index][0].high%>
                    <%} else {%>
                    <%=displayExercises[index][0].low%>
                    <%}%> <%=unit%> of this exercise and we'll calculate your set!</div>

                <%#ACCOUNT FOR KG STUFF%>
                <%let startWeight = exercise.startWeight%>
                <% if (user.weightUnit === "kgs"){%>
                    <%startWeight = exercise.startWeightKg %>
                <% } %>

                <%exercise.sets.forEach(function(set, index3){%>
                    
                    <%#HANDLE VISIBLE INPUT%>
                    <%if(index3 === 0){%>
                        
                        <%#HIDDEN INPUTS%>
                        <input type="hidden" name="reps[]" value="<%=exercise.sets[index3].high%>">
                        <input type="hidden" name="note[]">

                        <%#WEIGHT BUTTON%>
                        <p></p>
                        <h4>Max Weight</h4>

                        <div class="inline-block my-counter-div">
                            <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="weight-button my-counter before-radius"><img src="/icons/minus.svg"></button>
                            
                            <input type="number" inputmode="numeric" pattern="[0-9]*" class="my-counter counter-input" data-set-weight="<%=index3%>" id="weight_<%=index%>_<%=index3%>" required
                            value="<%=startWeight%>" name="weight[]"  step="<%=step%>" min="<%=startWeight%>" max="9999">
                            
                            <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="weight-button my-counter after-radius"><img src="/icons/plus.svg"></button>

                        </div> <%=user.weightUnit%> 
                        <p></p>

                    <%#HANDLE ALL INVISIBLE INPUTS%>
                    <%} else {%> 
                        <%#REPS%>
                        <input type="hidden" name="reps[]" value="<%=exercise.sets[index3].high%>">

                        <%#WEIGHTS%>
                        <input type="hidden" name="weight[]" value="<%=null%>">

                        <%#NOTES%>
                        <input type="hidden" name="note[]">

                    <%}%>
                <%})%>
                
    <!--dumb div because history modal depends on looking up an array of past-exercise2 through jquery and it throws it off if it doesn't exist in the firstTimeExercise state-->
    <div class="past-exercises2"></div>
    <!--End dumb div-->

    <input type="hidden" name="isFirstTime" value="true">
    <input type="hidden" name="phase" value="<%=workout.phase%>">
    <input type="hidden" name="step" value="<%=exercise.weightIncrement%>">
    <input type="hidden" name="exerciseName" value="<%= exercise.name %>">
    <input data-exercise="<%=index%>" type="hidden" name="templateId" value="<%= exercise._id %>">
    <input type="hidden" name="packageUrl" value="<%= packageUrl %>">
    <input type="hidden" name="workout" value="<%= workout.nameShort %>">
    <input type="hidden" name="order" value="<%= exercise.order %>">
        <div>
        <button type="submit" class="workout-button my-btn btn-full-width my-btn-secondary" style="margin-left:0px">Create Sets</button>
        </div>
    </form>

    </div>