<div class="modal fade" id="fullExerciseModal<%=index%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered  full-page-modal" role="document">
    <div class="modal-content full-page-modal">
    <div class="x-circle"></div>
    <div class="modal-header2">
        
        <!-- Exercise Header -->
        <%- include("./exerciseHeader/exerciseHeaderLight.ejs", {index: index, exercise: exercise, unit: unit, editState: editState}) -%>
    </div>
    <div class="modal-body">
        <div class="tab-content" id="myTabContentJust">
            <div class="tab-pane fade show active" id="today-just-<%=index%>" role="tabpanel" aria-labelledby="today-tab-just">
                <!-- Warmups -->
                <%- include("./warmups.ejs", {index: index, exercise: exercise, editState: editState}) -%>

                <!-- Sets -->
                <%- include("./sets/sets.ejs", {index: index, step: step, startWeight: startWeight, exercise: exercise, unit: unit, user: user, editState: editState, hoursDifference: hoursDifference}) -%>
            </div>
            <div class="tab-pane fade" id="instructions-just-<%=index%>" role="tabpanel" aria-labelledby="home-tab-just">
                <p><a href="<%=exercise.videoLink%>" target="_blank">Demo Video <img class="external-link" src="/icons/ExternalLink.svg"></a></p>
        
                <!-- Handle all paragraphs -->
                <%if (exercise.instructions != null | exercise.instructions != undefined) {%>
                    <h6>Instructions</h6>
                    <% if(exercise.weightType === "dumbbells") {%>
                        <p>Enter per dumbbell weight, not total weight</p>
                    <%}%> 
                    <%exercise.instructions.forEach(function(paragraph, index1){%>
                        <p><%=paragraph%></p>
                    <%})%>
                <%}%>
                <!-- Handle if notes from course -->
                <%if (exercise.notesFromCourse.length > 0){%>
                    <h6>Notes From Course</h6>
                    <%exercise.notesFromCourse.forEach(function(paragraph, index2){%>
                        <p><%=paragraph%></p>
                    <%})%>
                <%}%>
            </div>
            <div class="tab-pane fade" id="history-just-<%=index%>" role="tabpanel" aria-labelledby="history-tab-just">
                <div class="past-exercises2" data-exericse="<%=index%>"></div>
            </div>
        </div>

        
    </div>
    <img src="/icons/CloseWhite.svg" class="close-special" data-dismiss="modal" aria-label="Close">
        </img>
    </div>
</div>
</div>