<%#HANDLE LAST WEEKS SETS%>
<%const lastWeight = lastExercises[index].sets[i].weight%>
<%const lastReps = lastExercises[index].sets[i].reps%>
<%const lastNote = lastExercises[index].sets[i].note%>
<%const exerciseName = lastExercises[index]._id.name%>


<%let hoursDifference7%>
<%if (lastExercises[index].lastId != null && lastExercises[index].lastId != undefined) { %>
    <%const lastCompletedDate = lastExercises[index].lastId.getTimestamp()%>
    <%const now7 = Date.now()%>
    <%hoursDifference7 = Math.abs(lastCompletedDate - now7)/36e5%>
<%} else {%>
    <%hoursDifference7 = null%>
<%}%> 

<%console.log(exercise.name)%>
<%console.log(hoursDifference7)%>
<%console.log(lastExercises[index].sets[1])%>
<%console.log(lastExercises[index].sets[1].weight)%>
<%console.log("last reps: " + lastReps)%>

<%if (hoursDifference7 != (undefined || null) && hoursDifference7 < 18 && ((lastExercises[index].sets[1] != (undefined || null) && lastExercises[index].sets[1].weight != (undefined || null)) || exercise.name === "Hip Bridge Hold") && lastReps != null){ %>
    <%console.log("true")%>
    <p class="text-muted">Last time: <%=lastReps%> <%=unit%> at <%if (exercise.dropDown.length > 0){ %>
    <%=functions.optionMapper(exerciseName, lastWeight)%></p>
    <%} else {%>
    <%console.log("false")%>
    <p><%=lastWeight%>lbs<%}%><% if (lastNote) {%>, <%=lastNote%><%}%>
    </p>
    <%} %>