<%#HANDLE NOTES%>
<p>
    <a href="#" class="addNote"  id="addNote_<%=index%>_<%=i%>" onclick="amplitude.getInstance().logEvent('Add Note Clicked')">Add Note</a>
    <a href="#" style="margin-left: 20px;" data-toggle="modal" data-target="#restTimerModal<%=index%>">Start Rest Timer</a>
</p> 


<input style="margin-bottom: 10px;" type="text" class="form-control startHidden" id="note_<%=index%>_<%=i%>" name="note[]" placeholder="Note about your set" maxlength="140">



<div class="modal fade special-modal" id="restTimerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Rest Timer</h5>
        <img src="/icons/Close.svg" class="close" data-dismiss="modal" aria-label="Close">
        </img>
    </div>
    <div class="modal-body modal-body-instructions">
        <p><a href="<%=exercise.videoLink%>" target="_blank">Demo Video <img class="external-link" src="/icons/ExternalLink.svg"></a></p>
        
        <!-- Handle all paragraphs -->
        <%if (exercise.instructions != null | exercise.instructions != undefined) {%>
            <h6>Instructions</h6>
            <% if(exercise.weightType === "dumbbells") {%>
                <p>Enter per dumbbell weight, not total weight</p>
            <%}%> 
            <%exercise.instructions.forEach(function(paragraph, index1){%>
                <p><%=paragraph%></p>
            <%})%>
        <%}%>
        <%#HANDLE IF NOTES FROM COURSE%> 
        <%if (exercise.notesFromCourse.length > 0){%>
            <h6>Notes From Course</h6>
            <%exercise.notesFromCourse.forEach(function(paragraph, index2){%>
                <p><%=paragraph%></p>
            <%})%>
        <%}%>
    </div>
    </div>
</div>
</div>