<!-- Sets -->   

<%let hoursDifference6%>
<%if (lastExercises[index].lastId != null && lastExercises[index].lastId != undefined) { %>
    <%const lastCompletedDate = lastExercises[index].lastId.getTimestamp()%>
    <%const now6 = Date.now()%>
    <%hoursDifference6 = Math.abs(lastCompletedDate - now6)/36e5%>
<%} else {%>
    <%hoursDifference6 = null%>
<%}%> 

    <!--Calculate Hours Since Last Saved Workout-->

    <%let hoursDifference2%>
    <%if (lastExercises[index].lastId != null && lastExercises[index].lastId != undefined) { %>
    <%const lastCompletedDate = lastExercises[index].lastId.getTimestamp()%>
    <%const now2 = Date.now()%>
    <%hoursDifference2 = Math.abs(lastCompletedDate - now2)/36e5%>
    <%} else {%>
    <%hoursDifference2 = null%>
    <%}%>  

    <%if (hoursDifference2 != (undefined || null) && hoursDifference2 < 18 && ((lastExercises[index].sets[1] != (undefined || null) && lastExercises[index].sets[1].weight != (undefined || null)) || exercise.name === "Hip Bridge Hold")) {%>
        <form action="/workout/<%=packageUrl%>/<%=workout.nameShort%>/edit" method="POST">
    <%} else {%>
        <form action="/workout/<%=packageUrl%>/<%=workout.nameShort%>" method="POST">
    <%}%>
    
    <%exercise.sets.forEach(function(set, i){%>
        <h4>Set <%=i + 1%></h4>
        <% const weight = displayExercises[index][i].weight %>

        <!-- Last Week -->   
        <%- include("./lastWeek.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight}) -%>
    
        <!-- Bar Calculator -->   
        <%- include("./barCalc.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight}) -%>
            
        <!-- Reps -->   
        <%- include("./reps.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight}) -%>
                
        <br>

        <!-- Weights -->   
        <%- include("./weights.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight}) -%>
            
        <!-- Notes -->   
        <%- include("./notes.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight}) -%>

    <%})%>

    

    <input type="hidden" name="isFirstTime" value="false">
    <input type="hidden" name="lastId" value="<%=lastExercises[index].lastId%>">
    <input type="hidden" name="exerciseName" value="<%= exercise.name %>">
    <input data-exercise="<%=index%>" type="hidden" name="templateId" value="<%= exercise._id %>">
    <input type="hidden" name="packageUrl" value="<%= packageUrl %>">
    <input type="hidden" name="workout" value="<%= workout.nameShort %>">
    <input type="hidden" name="order" value="<%= exercise.order %>">
    <button type="submit" class="my-btn my-btn-primary workout-button btn-full-width waves-effect waves-light"><%if (hoursDifference2 != (undefined || null) && hoursDifference2 < 18 && ((lastExercises[index].sets[1] != (undefined || null) && lastExercises[index].sets[1].weight != (undefined || null) ) || exercise.name === "Hip Bridge Hold")) {%>Save Edits<%} else {%>Save Exercise<%}%></button>
    </form>
