<!-- Sets -->   

    <!--Calculate Hours Since Last Saved Workout-->
    <%if (editState) {%>
        <form action="/workout/<%=packageUrl%>/<%=workout.nameShort%>/edit" method="POST">
    <%} else {%>
        <form action="/workout/<%=packageUrl%>/<%=workout.nameShort%>" method="POST">
    <%}%>
    
    <%exercise.sets.forEach(function(set, i){%>
        <h4>Set <%=i + 1%></h4>
        <% const weight = displayExercises[index][i].weight %>

        <!-- Last Week -->   
        <%- include("./lastWeek.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight, user: user, functions: functions, editState: editState, hoursDifference: hoursDifference}) -%>
    
        <!-- Bar Calculator -->   
        <%- include("./barCalc.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight, user: user, functions: functions, editState: editState}) -%>
            
        <!-- Reps -->   
        <%- include("./reps.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight, editState: editState}) -%>
                
        <br>

        <!-- Weights -->   
        <%- include("./weights.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight, user: user, functions: functions, editState: editState}) -%>
            
        <!-- Notes -->   
        <%- include("./notes.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight, editState: editState}) -%>

    <%})%>

    <%let edit = false %>
    <%if (editState) {edit = true}%>

    <input type="hidden" name="isFirstTime" value="false">
    <input type="hidden" name="phase" value="<%=workout.phase%>">
    <input type="hidden" name="lastId" value="<%=lastExercises[index].lastId%>">
    <input type="hidden" name="exerciseName" value="<%= exercise.name %>">
    <input data-exercise="<%=index%>" type="hidden" name="templateId" value="<%= exercise._id %>">
    <input type="hidden" name="packageUrl" value="<%= packageUrl %>">
    <input type="hidden" name="workout" value="<%= workout.nameShort %>">
    <input type="hidden" name="order" value="<%= exercise.order %>">
    <button type="submit" class="my-btn my-btn-primary workout-button btn-full-width waves-effect waves-light" 
        <%if (edit) {%>
            onclick="amplitude.getInstance().logEvent('Exercise Edited')"
        <%} else {%>
            onclick="amplitude.getInstance().logEvent('Exercise Saved')"
        <%}%>>
        <%if (edit) {%>
            Save Edits
        <%} else {%>
            Save Exercise
        <%}%>
    </button>
    </form>