<!-- Sets -->   
    <form action="/workout/<%=packageUrl%>/<%=workout.nameShort%>" method="POST">
    
    <%exercise.sets.forEach(function(set, i){%>
        <h4>Set <%=i + 1%></h4>
        <% const weight = displayExercises[index][i].weight %>

        <!-- Last Week -->   
        <%- include("./lastWeek.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight}) -%>
    
        <!-- Bar Calculator -->   
        <%- include("./barCalc.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight}) -%>
            
        <!-- Reps -->   
        <%- include("./reps.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight}) -%>
                
        <br>

        <!-- Weights -->   
        <%- include("./weights.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight}) -%>
            
        <!-- Notes -->   
        <%- include("./notes.ejs", {index: index, exercise: exercise, unit: unit, i:i, weight: weight}) -%>

    <%})%>
    <input type="hidden" name="isFirstTime" value="false">
    <input type="hidden" name="exerciseName" value="<%= exercise.name %>">
    <input data-exercise="<%=index%>" type="hidden" name="templateId" value="<%= exercise._id %>">
    <input type="hidden" name="packageUrl" value="<%= packageUrl %>">
    <input type="hidden" name="workout" value="<%= workout.nameShort %>">
    <input type="hidden" name="order" value="<%= exercise.order %>">
    <button type="submit" class="btn btn-primary workout-button btn-full-width">Save Exercise</button>
    </form>
