<%#HANDLE WEIGHTS%>

<%const lastWeight2 = lastExercises[index].sets[i].weight%>

<%let hoursDifference9%>
<%if (lastExercises[index].lastId != null && lastExercises[index].lastId != undefined) { %>
    <%const lastCompletedDate = lastExercises[index].lastId.getTimestamp()%>
    <%const now9 = Date.now()%>
    <%hoursDifference9 = Math.abs(lastCompletedDate - now9)/36e5%>
<%} else {%>
    <%hoursDifference9 = null%>
<%}%> 

            
            <%#HANDLE DROPDOWN OPTIONS%>
            <% if (exercise.dropDown.length > 0){ %>
                <select name="weight[]" required class="browser-default custom-select">
                <% exercise.dropDown.forEach(function(dropDownOption, inde){ %>
                    <option value="<%= inde %>" 
                    <% if (displayExercises[index][i].weight === inde ){ %>
                        selected
                    <% } %> >
                    <%=dropDownOption%></option>
                <% }) %>
                </select>
                
            <% } else { %>

            <%#HANDLE NORMAL WEIGHT INPUTS%>
            <% let hasWarmUps%>
            <% if (exercise.warmUps != undefined && exercise.warmUps != null) {hasWarmUps = 1} else {hasWarmUps = 0} %>    

                <div class="inline-block my-counter-div">
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="weight-button my-counter before-radius waves-effect"><img src="/icons/minus.svg"></button>
                    
                    <input type="number" inputmode="numeric" pattern="[0-9]*" class="quantity my-counter counter-input" required data-set-weight="<%=i%>" data-exercise="<%=index%>" data-has-warmups="<%=hasWarmUps%>" 
                    id="weight_<%=index%>_<%=i%>" name="weight[]" step="<%=exercise.weightIncrement%>" min="<%=exercise.startWeight%>" max="9999" style="text-align: center;"
                    <%if (hoursDifference9 != undefined && hoursDifference9 != null && hoursDifference9 < 18 && lastExercises[index].sets[1].weight != null) {%>
                        value="<%=lastWeight2%>" 
                    <%} else {%>
                        value="<%= weight %>"
                    <%}%>>
                    <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="weight-button my-counter after-radius waves-effect"><img src="/icons/plus.svg"></button>
                </div> lbs 

            <% } %>